In [1]:
import numpy as np 
import pandas as pd 
import gc

pd.options.mode.chained_assignment = None  # default='warn'
#import matplotlib.pyplot as plt
#import seaborn as sns
df_cal = pd.read_csv('calendar.csv')
df_eval = pd.read_csv('sales_train_evaluation.csv')
df_price = pd.read_csv('sell_prices.csv')
#df_sample_output = pd.read_csv('sample_submission.csv')

In [2]:
df_cal

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [3]:
hol_list = df_cal['event_name_1'].unique()[1:]
wkd_list = ['Saturday','Sunday']
df_cal['is_holiday_1'] = df_cal['event_name_1'].apply(lambda x : 1 if x in hol_list else 0 )
df_cal['is_holiday_2'] = df_cal['event_name_1'].apply(lambda x : 1 if x in hol_list else 0 )
df_cal['is_holiday'] = df_cal[['is_holiday_1','is_holiday_2']].max(axis=1)
df_cal['is_weekend'] = df_cal['weekday'].apply(lambda x : 1 if x in wkd_list else 0 )
df_cal = df_cal.drop(['weekday', 'wday', 'month', 'year', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2'], axis='columns')

In [4]:
df_cal

,date,wm_yr_wk,d,snap_CA,snap_TX,snap_WI,is_holiday_1,is_holiday_2,is_holiday,is_weekend
0,2011-01-29,11101,d_1,0,0,0,0,0,0,1
1,2011-01-30,11101,d_2,0,0,0,0,0,0,1
2,2011-01-31,11101,d_3,0,0,0,0,0,0,0
3,2011-02-01,11101,d_4,1,1,0,0,0,0,0
4,2011-02-02,11101,d_5,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,d_1965,0,1,1,0,0,0,0
1965,2016-06-16,11620,d_1966,0,0,0,0,0,0,0
1966,2016-06-17,11620,d_1967,0,0,0,0,0,0,0
1967,2016-06-18,11621,d_1968,0,0,0,0,0,0,1
1968,2016-06-19,11621,d_1969,0,0,0,1,1,1,1

In [5]:
df_eval

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,0,3,0,1,1,0,0,1,1
30486,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
30487,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0,0,1,2,0,1,0,1,0,2
30488,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,1,1,4,6,0,1,1,1,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,2,0,5,4,0,2,2,5,1

In [6]:
# for all FOODS_1
eva_all = df_eval[df_eval['dept_id'] == 'FOODS_1']
eva_all = eva_all.melt(['id','item_id','dept_id','cat_id','store_id','state_id'],var_name = 'd', value_name = 'sales')
eva_all = pd.merge(eva_all, df_cal, how = 'left', on = 'd')
eva_all = pd.merge(eva_all, df_price, how = 'left', on = ['item_id', 'wm_yr_wk', 'store_id'])
eva_all = eva_all.drop(['is_holiday_1','is_holiday_2'], axis =1)
eva_all
############################################################ Times cost: 107 seconds

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price
0,FOODS_1_001_CA_1_evaluation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,d_1,3,2011-01-29,11101,0,0,0,0,1,2.00
1,FOODS_1_002_CA_1_evaluation,FOODS_1_002,FOODS_1,FOODS,CA_1,CA,d_1,0,2011-01-29,11101,0,0,0,0,1,7.88
2,FOODS_1_003_CA_1_evaluation,FOODS_1_003,FOODS_1,FOODS,CA_1,CA,d_1,0,2011-01-29,11101,0,0,0,0,1,2.88
3,FOODS_1_004_CA_1_evaluation,FOODS_1_004,FOODS_1,FOODS,CA_1,CA,d_1,0,2011-01-29,11101,0,0,0,0,1,NaN
4,FOODS_1_005_CA_1_evaluation,FOODS_1_005,FOODS_1,FOODS,CA_1,CA,d_1,3,2011-01-29,11101,0,0,0,0,1,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192555,FOODS_1_215_WI_3_evaluation,FOODS_1_215,FOODS_1,FOODS,WI_3,WI,d_1941,0,2016-05-22,11617,0,0,0,0,1,1.84
4192556,FOODS_1_216_WI_3_evaluation,FOODS_1_216,FOODS_1,FOODS,WI_3,WI,d_1941,2,2016-05-22,11617,0,0,0,0,1,5.28
4192557,FOODS_1_217_WI_3_evaluation,FOODS_1_217,FOODS_1,FOODS,WI_3,WI,d_1941,1,2016-05-22,11617,0,0,0,0,1,3.54
4192558,FOODS_1_218_WI_3_evaluation,FOODS_1_218,FOODS_1,FOODS,WI_3,WI,d_1941,20,2016-05-22,11617,0,0,0,0,1,0.98
4192559,FOODS_1_219_WI_3_evaluation,FOODS_1_219,FOODS_1,FOODS,WI_3,WI,d_1941,4,2016-05-22,11617,0,0,0,0,1,2.24

In [7]:
len(eva_all['item_id'].unique())

216

In [8]:
cat_encode = {"HOBBIES":1,"HOUSEHOLD":2,"FOODS":3}
state_encode = {"CA":1,"TX":2,"WI":3}
dept_encode = {'HOBBIES_1':11, 'HOBBIES_2':12, 
               'HOUSEHOLD_1':21, 'HOUSEHOLD_2':22, 
               'FOODS_1':31,'FOODS_2':32, 'FOODS_3':33}
store_encode = {'CA_1':11, 'CA_2':12, 'CA_3':13, 'CA_4':14, 
                'TX_1':21, 'TX_2':22, 'TX_3':23, 
                'WI_1':31, 'WI_2':32, 'WI_3':33}
def data_encode(df):
    #other_columns = ['cat_id','state_id']
    # use only numerical columns
    df['state_id'] = df['state_id'].replace(state_encode)
    df['cat_id'] = df["cat_id"].replace(cat_encode)
    df['dept_id'] = df["dept_id"].replace(dept_encode)
    df['store_id'] = df["store_id"].replace(store_encode)
    import re
    df['d'] = df['d'].apply(lambda x : int(re.search(r'd_(\d+)', x).group(1)))
    # calendar [["wm_yr_wk", "wday", "month", "year",'d','snap_CA','snap_TX',"snap_WI"]]
    return df

def trans_str(ori_str):
    trans_str = ori_str.replace('_', '')
    trans_str = trans_str.replace('HOBBIES', '1')
    trans_str = trans_str.replace('HOUSEHOLD', '2')
    trans_str = trans_str.replace('FOODS', '3')
    trans_str = trans_str.replace('CA', '1')
    trans_str = trans_str.replace('TX', '2')
    trans_str = trans_str.replace('WI', '3')
    trans_str = trans_str.replace('evaluation', '')
    return trans_str
eva_all_encode = data_encode(eva_all)
eva_all_encode['item_id'] = eva_all_encode['item_id'].apply(trans_str)
eva_all_encode['item_id'] = eva_all_encode['item_id'].astype(int)
eva_all_encode['id'] = eva_all_encode['id'].apply(trans_str)
eva_all_encode['id'] = eva_all_encode['id'].astype(int)
uni_val = eva_all_encode['id'].unique()
mapping = {val: idx for idx, val in enumerate(uni_val)}
eva_all_encode['id'] = np.vectorize(mapping.get)(eva_all_encode['id'])
eva_all_encode = eva_all_encode.drop(['date','wm_yr_wk'],axis=1)#,'id'

eva_all_encode
############################################## Time cost : 121 seconds

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price
0,0,31001,31,3,11,1,1,3,0,0,0,0,1,2.00
1,1,31002,31,3,11,1,1,0,0,0,0,0,1,7.88
2,2,31003,31,3,11,1,1,0,0,0,0,0,1,2.88
3,3,31004,31,3,11,1,1,0,0,0,0,0,1,NaN
4,4,31005,31,3,11,1,1,3,0,0,0,0,1,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192555,2155,31215,31,3,33,3,1941,0,0,0,0,0,1,1.84
4192556,2156,31216,31,3,33,3,1941,2,0,0,0,0,1,5.28
4192557,2157,31217,31,3,33,3,1941,1,0,0,0,0,1,3.54
4192558,2158,31218,31,3,33,3,1941,20,0,0,0,0,1,0.98
4192559,2159,31219,31,3,33,3,1941,4,0,0,0,0,1,2.24

In [9]:
len(eva_all['id'].unique())

2160

In [10]:
eva_all_encode.isna().sum()

id                 0
item_id            0
dept_id            0
cat_id             0
store_id           0
state_id           0
d                  0
sales              0
snap_CA            0
snap_TX            0
snap_WI            0
is_holiday         0
is_weekend         0
sell_price    601342
dtype: int64

In [11]:
eva_f1 = eva_all_encode#.drop('id',axis=1)
eva_f1

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price
0,0,31001,31,3,11,1,1,3,0,0,0,0,1,2.00
1,1,31002,31,3,11,1,1,0,0,0,0,0,1,7.88
2,2,31003,31,3,11,1,1,0,0,0,0,0,1,2.88
3,3,31004,31,3,11,1,1,0,0,0,0,0,1,NaN
4,4,31005,31,3,11,1,1,3,0,0,0,0,1,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192555,2155,31215,31,3,33,3,1941,0,0,0,0,0,1,1.84
4192556,2156,31216,31,3,33,3,1941,2,0,0,0,0,1,5.28
4192557,2157,31217,31,3,33,3,1941,1,0,0,0,0,1,3.54
4192558,2158,31218,31,3,33,3,1941,20,0,0,0,0,1,0.98
4192559,2159,31219,31,3,33,3,1941,4,0,0,0,0,1,2.24

In [14]:
del eva_all_encode
gc.collect()

0

In [15]:
# Level data generation:
col_1_L1 = ['sell_price','sales', 'item_id','store_id', 'state_id'] #,'dept_id', 'cat_id' 'id',
col_1_L2 = ['sell_price','sales', 'item_id','store_id'] #,'dept_id', 'cat_id', 'state_id' 'id',
col_1_L3 = ['sell_price','sales', 'item_id'] #,'dept_id', 'cat_id', 'store_id'            'id', 
col_1_L4 = ['sell_price','sales', ] #'id',

col_2_L1 = ['is_weekend','is_holiday','snap_CA','snap_TX','snap_WI']
col_2_L2 = ['is_weekend','is_holiday','snap_CA','snap_TX','snap_WI']
col_2_L3 = ['is_weekend','is_holiday','snap_CA','snap_TX','snap_WI']
col_2_L4 = ['is_weekend','is_holiday','snap_CA','snap_TX','snap_WI']

col_1_L = [col_1_L1, 
           col_1_L2,
           col_1_L3,
           col_1_L4]
col_2_L = [col_2_L1, 
           col_2_L2,
           col_2_L3,
           col_2_L4]
columns_name = ['d','item_id', 'store_id', 'state_id', 'snap_CA', 'snap_TX', 'snap_WI', 'is_holiday','is_weekend', 'sell_price','sales']#'dept_id', 'cat_id','id',

In [16]:
# generrate the hierarchical time series based on the 4 levels
def levelG(df,col_1, col_2, level_n, columns):
    df_list = []
    col = []
    for i in [0,1,2,3]:
        col = list(set(col_1[0]) - set(col_1[i]))
        col.append('d')
        sum_L = df.groupby(col)[col_1[i]].sum().reset_index()
        mea_L = df.groupby(col)[col_2[i]].mean().reset_index().iloc[:,i+1:]
        level = pd.concat([sum_L,mea_L],axis=1)[columns]
        df_list.append(level)
    return df_list

In [17]:
eva_list = levelG(eva_f1, col_1_L, col_2_L, 4, columns_name)

In [18]:
eva_list[0]

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,sales
0,1,67198180,45792,4104,0.0,0.0,0.0,0.0,1.0,2988.53,2343
1,2,67198180,45792,4104,0.0,0.0,0.0,0.0,1.0,2988.53,2216
2,3,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,2988.53,1657
3,4,67198180,45792,4104,1.0,1.0,0.0,0.0,0.0,2988.53,1508
4,5,67198180,45792,4104,1.0,0.0,1.0,0.0,0.0,2988.53,1209
...,...,...,...,...,...,...,...,...,...,...,...
1936,1937,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,7367.44,3073
1937,1938,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,7367.44,3251
1938,1939,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,7367.44,3735
1939,1940,67198180,45792,4104,0.0,0.0,0.0,0.0,1.0,7368.77,4195
1940,1941,67198180,45792,4104,0.0,0.0,0.0,0.0,1.0,7368.77,4031

In [19]:
eva_list[1]

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,sales
0,1,26879272,10800,1,0.0,0.0,0.0,0.0,1.0,1198.90,1157
1,2,26879272,10800,1,0.0,0.0,0.0,0.0,1.0,1198.90,1142
2,3,26879272,10800,1,0.0,0.0,0.0,0.0,0.0,1198.90,787
3,4,26879272,10800,1,1.0,1.0,0.0,0.0,0.0,1198.90,743
4,5,26879272,10800,1,1.0,0.0,1.0,0.0,0.0,1198.90,729
...,...,...,...,...,...,...,...,...,...,...,...
5818,1937,20159454,20736,3,0.0,0.0,0.0,0.0,0.0,2280.30,950
5819,1938,20159454,20736,3,0.0,0.0,0.0,0.0,0.0,2280.30,1048
5820,1939,20159454,20736,3,0.0,0.0,0.0,0.0,0.0,2280.30,1106
5821,1940,20159454,20736,3,0.0,0.0,0.0,0.0,1.0,2280.68,1120
5822,1941,20159454,20736,3,0.0,0.0,0.0,0.0,1.0,2280.68,1028

In [20]:
eva_list[3]########  FOODS_1_219_WI_3 : 3_1_219_3_3

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,sales
0,1,31001,11,1,0.0,0.0,0.0,0.0,1.0,2.00,3
1,2,31001,11,1,0.0,0.0,0.0,0.0,1.0,2.00,0
2,3,31001,11,1,0.0,0.0,0.0,0.0,0.0,2.00,0
3,4,31001,11,1,1.0,1.0,0.0,0.0,0.0,2.00,1
4,5,31001,11,1,1.0,0.0,1.0,0.0,0.0,2.00,4
...,...,...,...,...,...,...,...,...,...,...,...
4192555,1937,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,0
4192556,1938,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,0
4192557,1939,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,0
4192558,1940,31219,33,3,0.0,0.0,0.0,0.0,1.0,2.24,0
4192559,1941,31219,33,3,0.0,0.0,0.0,0.0,1.0,2.24,4

In [22]:
eva_list[3]['id'].unique()#total 216, absent : 31007, 31100, and

array([   0,    1,    2, ..., 2157, 2158, 2159])

In [27]:
#### collect_xy for TOP LEVEL (L1)
def collect_xy(df,colname_1,colname_2,x_window:int = 60, y_window: int = 28):
    # for generating x
    df_ = df.copy()
    for i in range(x_window):
        df_[f'x_{i+1}DaysAgo'] = df_[colname_1].shift(i+1)
        
    # for generating y
    for i in range(y_window):
        df_[f"y_{i+1}DaysF"] = df_[colname_2].shift(-i-1)
    df_ = df_.iloc[x_window : -y_window,:]
    return df_

### cominbe_df_xy for other levels
'''
def combine_df_xy(df,colname_3, col_s):
    from tqdm import tqdm
    uni_id = df[colname_3].unique()
    df_c = pd.DataFrame()
    for i in tqdm(range(len(uni_id))):
        df_e = df[df[colname_3]==uni_id[i]]
        df_d = collect_xy(df_e ,col_s ,col_s)
        df_c = pd.concat([df_c,df_d])
    return df_c'''

'\ndef combine_df_xy(df,colname_3, col_s):\n    from tqdm import tqdm\n    uni_id = df[colname_3].unique()\n    df_c = pd.DataFrame()\n    for i in tqdm(range(len(uni_id))):\n        df_e = df[df[colname_3]==uni_id[i]]\n        df_d = collect_xy(df_e ,col_s ,col_s)\n        df_c = pd.concat([df_c,df_d])\n    return df_c'

In [42]:
### cominbe_df_xy for other levels
def combine_df_xy(df,group_n, col_list):
    from tqdm import tqdm
    uni_id = df[col_list[0]].unique()
    df_c = pd.DataFrame()
    if group_n == 1:
        for i in tqdm(range(len(uni_id))):
            df_e = df[df[col_list[0]]==uni_id[i]]
            df_e = collect_xy(df_e ,col_list[-1] ,col_list[-1])
            df_c = pd.concat([df_c,df_e])
    elif group_n == 2 : # This number is the amount of level names required for us to disaggregate the hierarchical structure
        for i in tqdm(range(len(uni_id))):
            uni_id_2 = df[col_list[1]].unique()
            for x in range(len(uni_id_2)):
                      df_e = df[(df[col_list[0]]==uni_id[i]) & (df[col_list[1]]==uni_id_2[x])]
                      df_e = collect_xy(df_e ,col_list[-1] ,col_list[-1])
                      df_c = pd.concat([df_c,df_e])
    return df_c

In [ ]:
l1 = collect_xy(eva_list[0],'sales','sales')
l2 = combine_df_xy(eva_list[1],1,['state_id', 'sales'])
l3 = combine_df_xy(eva_list[2],1,['store_id', 'sales'])
l4 = combine_df_xy(eva_list[3],2,['store_id','item_id','sales'])
#40S

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 73.10it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 64.56it/s]
 70%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ                                                          | 7/10 [06:55<03:57, 79.26s/it]

In [26]:
eva_list[3][(eva_list[3]['store_id']==11) & (eva_list[3]['item_id']==31002)]

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,sales
1941,1,31002,11,1,0.0,0.0,0.0,0.0,1.0,7.88,0
1942,2,31002,11,1,0.0,0.0,0.0,0.0,1.0,7.88,1
1943,3,31002,11,1,0.0,0.0,0.0,0.0,0.0,7.88,0
1944,4,31002,11,1,1.0,1.0,0.0,0.0,0.0,7.88,1
1945,5,31002,11,1,1.0,0.0,1.0,0.0,0.0,7.88,1
...,...,...,...,...,...,...,...,...,...,...,...
3877,1937,31002,11,1,0.0,0.0,0.0,0.0,0.0,9.48,1
3878,1938,31002,11,1,0.0,0.0,0.0,0.0,0.0,9.48,0
3879,1939,31002,11,1,0.0,0.0,0.0,0.0,0.0,9.48,1
3880,1940,31002,11,1,0.0,0.0,0.0,0.0,1.0,9.48,1
3881,1941,31002,11,1,0.0,0.0,0.0,0.0,1.0,9.48,2

In [41]:
l4

Empty DataFrame
Columns: [d, item_id, store_id, state_id, snap_CA, snap_TX, snap_WI, is_holiday, is_weekend, sell_price, sales, x_1DaysAgo, x_2DaysAgo, x_3DaysAgo, x_4DaysAgo, x_5DaysAgo, x_6DaysAgo, x_7DaysAgo, x_8DaysAgo, x_9DaysAgo, x_10DaysAgo, x_11DaysAgo, x_12DaysAgo, x_13DaysAgo, x_14DaysAgo, x_15DaysAgo, x_16DaysAgo, x_17DaysAgo, x_18DaysAgo, x_19DaysAgo, x_20DaysAgo, x_21DaysAgo, x_22DaysAgo, x_23DaysAgo, x_24DaysAgo, x_25DaysAgo, x_26DaysAgo, x_27DaysAgo, x_28DaysAgo, x_29DaysAgo, x_30DaysAgo, x_31DaysAgo, x_32DaysAgo, x_33DaysAgo, x_34DaysAgo, x_35DaysAgo, x_36DaysAgo, x_37DaysAgo, x_38DaysAgo, x_39DaysAgo, x_40DaysAgo, x_41DaysAgo, x_42DaysAgo, x_43DaysAgo, x_44DaysAgo, x_45DaysAgo, x_46DaysAgo, x_47DaysAgo, x_48DaysAgo, x_49DaysAgo, x_50DaysAgo, x_51DaysAgo, x_52DaysAgo, x_53DaysAgo, x_54DaysAgo, x_55DaysAgo, x_56DaysAgo, x_57DaysAgo, x_58DaysAgo, x_59DaysAgo, x_60DaysAgo, y_1DaysF, y_2DaysF, y_3DaysF, y_4DaysF, y_5DaysF, y_6DaysF, y_7DaysF, y_8DaysF, y_9DaysF, y_10DaysF, y_11DaysF, y_12DaysF, y_13DaysF, y_14DaysF, y_15DaysF, y_16DaysF, y_17DaysF, y_18DaysF, y_19DaysF, y_20DaysF, y_21DaysF, y_22DaysF, y_23DaysF, y_24DaysF, y_25DaysF, y_26DaysF, y_27DaysF, y_28DaysF]
Index: []

[0 rows x 99 columns]

In [27]:
def dataSplit(df):
    x_train, y_train = df[ df['d']<1913 ].iloc[:,:-28], df[df['d']<1913].iloc[:,-28:]
    x_test, y_test   = df[df['d'] >= 1913].iloc[:,:-28], df[df['d'] >= 1913].iloc[:,-28:]
    return x_train,x_test,y_train,y_test

def Concat(df1,df2):
    df = pd.concat([df1,df2], axis=0)
    return df

In [39]:
del x_train, x_test, y_train, y_test

In [40]:
hts = [l1, l2, l3, l4]
x_train, x_test, y_train, y_test = pd.DataFrame(),pd.DataFrame(),pd.DataFrame(),pd.DataFrame()
for i in range(len(hts)) :
    a, b, c, d = dataSplit(hts[i])
x_train, x_test, y_train, y_test = Concat(x_train, a), Concat(x_test, b), Concat(y_train, c), Concat(y_test, d)

TypeError: 'RegressorChain' object is not subscriptable

In [41]:
y_train

Empty DataFrame
Columns: []
Index: []

In [ ]:
y_test

In [ ]:
from sklearn.multioutput import RegressorChain
from sklearn.metrics import mean_squared_error as mse
def get_lgb():
    from lightgbm import LGBMRegressor as lgbr
    return lgbr(
        n_jobs = -1,
        boosting_type= 'gbdt',
        objective = "regression",
        metric = "rmse",
        num_leaves =64,
        learning_rate = 0.1,
        # 0.05 - 74~75
        bagging_fraction = 0.7,
        feature_fraction = 0.5,
        bagging_frequency = 5,
        bagging_seed = 42,
        verbosity = 1,
        seed= 42,
        force_col_wise=True)
#for model_name, get_model in [("LightGB",get_lgb)]:
    #print(f"Model: {model_name}")
l1 = RegressorChain(get_lgb())
l1.fit(x_train, y_train)

print(f"Train score: {mse(multi_target_model.predict(x_train), y_train, squared=True)}")
print(f"Test score: {mse(multi_target_model.predict(x_test), y_test, squared=True)}")

In [45]:
from sklearn.metrics import mean_squared_error as mse
train_pred = l1.predict(x_train)
test_pred = l1.predict(x_test)
print(f"Train score: {mse(train_pred, y_train, squared=True)}")
print(f"Test score: {mse(test_pred, y_test, squared=True)}")

[LightGBM] [Warning] Unknown parameter: bagging_frequency
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] Unknown parameter: bagging_frequency
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
Train score: 28.600073255083256
Test score: 6.859432660631401

         y_28DaysF
1912        4031.0
1912        2041.0
3853         962.0
5794        1028.0
1912         334.0
...            ...
4190614        0.0
4190615        0.0
4190616        0.0
4190617        0.0
4192531        4.0

[54662 rows x 1 columns]

In [44]:
def forecast_mase(forecast, truth):
    mase = []
    from sklearn.metrics import mean_absolute_error as mae
    for i in range(int(len(forecast)/28)):
        mase.append(mae(forecast[i*28:(i+1)*28], truth[i*28:(i+1)*28])/(truth[0:28].diff().abs()[1:].mean()).iloc[0])
    return mase

In [332]:
mase_base = forecast_mase(test_pred, y_test)
mase_base

[1.2370923333972523,
 0.3495827239593794,
 0.24571446994381882,
 0.33801522545317625,
 0.10831853628641508,
 0.18129631133336985,
 0.18545207343491052,
 0.08884575279920874,
 0.09719255400860616,
 0.0954754965885576,
 0.13361800802394086,
 0.10564499804419401,
 0.16679244615687697,
 0.11224970679138298,
 0.0029360062739662053,
 0.002612659172393415,
 0.0028334428800828536,
 0.001192991105280038,
 0.0020009061433428864,
 0.001243371117635528,
 0.001930809617333698,
 0.0013406659117663267,
 0.002272185600984428,
 0.0012422634760578535,
 0.0017282705212448696,
 0.0020880944453854204,
 0.002139447411939254,
 0.0012673301498940263,
 0.001674652805732887,
 0.0013255970616400058,
 0.0012981651020675569,
 0.002415356108121628,
 0.0014358250009507,
 0.0010058437163143195,
 0.0023505416866113865,
 0.003919328576000563,
 0.0029400800019888968,
 0.0013772544535800638,
 0.001145369227233319,
 0.002499033729424064,
 0.0005314628774199466,
 0.0027538464243895204,
 0.001655109988459716,
 0.0018071918854693917,
 0.005420019352682022,
 0.010477857177736067,
 0.008440189151893634,
 0.004742875476244657,
 0.010423764631150337,
 0.011331297060696301,
 0.015790680000793093,
 0.010437619800726996,
 0.032148900352859104,
 0.01594404386180294,
 0.003838326272933752,
 0.007724412052349314,
 0.006464515950491078,
 0.0020842913855760206,
 0.0024194453976448343,
 0.0028949961858883897,
 0.002990045025840309,
 0.004265013288822797,
 0.0025264692367689854,
 0.0025377773914339367,
 0.004062154059204062,
 0.0027047024331295516,
 0.004114931764894102,
 0.0033911681068921275,
 0.0018821968844564998,
 0.0017859642974019123,
 0.0011566668763481629,
 0.0033379056924433895,
 0.00272466471384691,
 0.0034360232601209468,
 0.001103393829682221,
 0.0012956753049992514,
 0.0008278176489814257,
 0.0022802908627086345,
 0.0003968414906960173,
 0.0008737257043659423,
 0.0024308602526827766,
 0.002032879446551849,
 0.0010096103701636699,
 0.0007237123560678756,
 0.003048435934534687,
 0.003049367619441029,
 0.006391625475380233,
 0.002519913500077837,
 0.0023090621990034445,
 0.0012954072770738924,
 0.0012699211658302014,
 0.0029522825531663405,
 0.0020706782077636256,
 0.0014773373919945364,
 0.0011795370817996003,
 0.0012195831066040125,
 0.002279638051982717,
 0.0014192683388356399,
 0.0013522365426191431,
 0.00117121062569741,
 0.001885564605115066,
 0.0034142612658187195,
 0.0009279533884300713,
 0.000835237250784105,
 0.00219994235177059,
 0.006290183845341482,
 0.003366920942867884,
 0.001980092599993043,
 0.0016498131123250262,
 0.0014581170721711802,
 0.0013056527954480078,
 0.002884561677265573,
 0.0028324055462214176,
 0.0018525616588629511,
 0.004968387182497037,
 0.017487476408107553,
 0.0010976754419417282,
 0.008024488413593786,
 0.011723690176283257,
 0.006470055699682743,
 0.007623453704989631,
 0.00777267104328765,
 0.0036415095862728938,
 0.004139253310805971,
 0.003827626053358073,
 0.005883323360393494,
 0.0039278418817063265,
 0.002613516100228019,
 0.006572928994684888,
 0.0029754853857670337,
 0.0008688943592605381,
 0.003288995557660915,
 0.0023293388582576032,
 0.0019544942521945337,
 0.0037731612420863906,
 0.0025405571152287915,
 0.0027856264640193883,
 0.002266037777304708,
 0.0032385929268672372,
 0.0021724980816103874,
 0.0035081802615145215,
 0.0032479161885772064,
 0.005285702164840695,
 0.0029718911105916313,
 0.004089326909204197,
 0.004731983805299002,
 0.006625555392837656,
 0.0019670020506841576,
 0.0018104670360664355,
 0.0012398209372712907,
 0.002504088309081299,
 0.001268510963242244,
 0.0015254523489345636,
 0.001228393592625977,
 0.0022839813916238063,
 0.002403360146802993,
 0.0018453441659284611,
 0.002085150122175556,
 0.0013795530308786782,
 0.0019781702188610864,
 0.0014730898844651234,
 0.0020332263955129197,
 0.0040525774732769896,
 0.0020866498902506053,
 0.0030770215587760234,
 0.003344673692422547,
 0.003611915768674294,
 0.0032789977268715734,
 0.001811142412733038,
 0.001702892679507562,
 0.0015051908603810975,
 0.0038203602313857127,
 0.003966835451384957,
 0.0023081535947680493,
 0.010858942573154015,
 0.013547947198911229,
 0.013733743571275929,
 0.010365330922484381,
 0.009563283411387031,
 0.008863251902136129,
 0.00975886207704493,
 0.012073117234786985,
 0.012147234056021822,
 0.012285027004258748,
 0.015588547154325342,
 0.01751476681577271,
 0.013261114011442731,
 0.009492569594479989,
 0.008954848637393657,
 0.009400835307816685,
 0.00855780954570461,
 0.010538320257512534,
 0.011764551686062354,
 0.00885516153808847,
 0.0028320311718659226,
 0.002020651222920692,
 0.002589354587912412,
 0.0023307725256383593,
 0.0014962791140075878,
 0.0024122989845525703,
 0.0014169162187933385,
 0.0031736897122464597,
 0.003851539124816809,
 0.0023036250407701383,
 0.00236431088534755,
 0.00689489114060264,
 0.003934776057839493,
 0.005690828014444638,
 0.0014248561896737458,
 0.001059812700559892,
 0.0004518826901746003,
 0.00592252758384891,
 0.0019778453993026662,
 0.0024734111350548484,
 0.0008119110618907644,
 0.0021625622922569337,
 0.0019479528276339423,
 0.0010337644679290112,
 0.001746519810895192,
 0.0016831948563975493,
 0.0006073798664620908,
 0.0006112874327694794,
 0.0008245914328300936,
 0.000385133933278586,
 0.004993797063458852,
 0.006797599816055702,
 0.0065487380968883395,
 0.007585518619076289,
 0.003921570122975453,
 0.004692802113932266,
 0.0069353248997163965,
 0.0027566292924659512,
 0.002718415076312577,
 0.002650178591301484,
 0.00231287862647833,
 0.004147003323993642,
 0.0072282121620155715,
 0.002061750193467354,
 0.0016748096438497788,
 0.002498045840842925,
 0.0018348621445240182,
 0.0032240009408026904,
 0.001837903499869555,
 0.0019126937135488082,
 0.001730440147824399,
 0.0022236766720713642,
 0.002745103457070722,
 0.0028296221646700657,
 0.0016163426674994214,
 0.002575522129436075,
 0.0016103941654343479,
 0.001902574869665376,
 0.0021576283292367134,
 0.0023768507445610684,
 0.0020515993202650114,
 0.0023069799743952444,
 0.002560942863183828,
 0.0013784047562912952,
 0.001216199730840665,
 0.0016104891092485706,
 0.0019949157182824646,
 0.002126050249930703,
 0.0022628553651857183,
 0.001961548216081996,
 0.003521624912475363,
 0.00698495904592283,
 0.004467277920847313,
 0.003872823765566481,
 0.003984553657081929,
 0.004000951561211761,
 0.0035934855929121053,
 0.002907415949043935,
 0.006802442951032466,
 0.0050477251197505076,
 0.0037238684057855874,
 0.0028982034033056296,
 0.0038501212827236906,
 0.0021828888636800064,
 0.0023241084268640893,
 0.0009492051656030692,
 0.004229306966225592,
 0.0033638445753887886,
 0.002560526657142326,
 0.0025328500118085026,
 0.0013674660784913405,
 0.0005951432093969402,
 0.0021405780336766793,
 0.0019246685938262694,
 0.0007637586747470224,
 0.0013692001677296493,
 0.00047605526869415945,
 0.0022188170800725,
 0.001215172588132915,
 0.001130489316851604,
 0.0021456609766403586,
 0.001825933536354417,
 0.0017806587963384573,
 0.0018504814926044869,
 0.00146494951152188,
 0.002136190448273604,
 0.0019765607883902143,
 0.0013714490882795912,
 0.002621870069859829,
 0.0015390841645998368,
 0.0038852131578159966,
 0.004554638576617926,
 0.004366419242368445,
 0.0025461004576726115,
 0.005376465782285229,
 0.002338132915846004,
 0.0015813690049338194,
 0.0036326650361337624,
 0.0015176843107706762,
 0.0027569130158971995,
 0.006904378684478582,
 0.010138146867694056,
 0.011928857568005642,
 0.007733258173708722,
 0.006078140949141567,
 0.006199893722602236,
 0.011139566138889896,
 0.009413584686839678,
 0.014144468786970031,
 0.010925060302238316,
 0.0008466494596993127,
 0.0014608925820935677,
 0.0011888098131918635,
 0.0010115780058078682,
 0.0009323638105494432,
 0.0004780218419663934,
 0.001198161074694667,
 0.00048249886986414376,
 0.0007696905640559581,
 0.0008766877226690405,
 0.0014090900283712459,
 0.002935651257499109,
 0.0025855259220042086,
 0.0013325564242485314,
 0.0020978276046953502,
 0.0015809459153578091,
 0.001618629656113219,
 0.003210800543482959,
 0.001984196928971765,
 0.0013964696647245274,
 0.0037923487711067462,
 0.006089572481150589,
 0.003903227013355188,
 0.002184161582865065,
 0.003702180551883117,
 0.0011545340684173632,
 0.002306727559269422,
 0.0016444077021766474,
 0.0030056247888222997,
 0.0017266350821549114,
 0.0030614695193407456,
 0.004291791215784626,
 0.006241702576621282,
 0.00327863500236389,
 0.004567919487770064,
 0.0016385557036531647,
 0.003716313976789281,
 0.002404023858923838,
 0.004101977072125613,
 0.005496360458053843,
 0.003186276530974817,
 0.0035538228554332593,
 0.006598519759042842,
 0.0016821049954900546,
 0.001868561287606778,
 0.0022933109937760088,
 0.0018464292155656685,
 0.0036698961550494422,
 0.001541872442956952,
 0.0031558268378930024,
 0.0016579770373844973,
 0.0029939400979124117,
 0.003475055542203895,
 0.0014441389374987474,
 0.002071869943709132,
 0.0016444579657556159,
 0.001944106064016424,
 0.00152416659513749,
 0.0016870472421459523,
 0.0015577670468228512,
 0.001487715317773153,
 0.0027995093703739164,
 0.0018309143141641828,
 0.0019087029251742013,
 0.0018559169387821406,
 0.0012670889715489795,
 0.0008385844384975902,
 0.001635592757665997,
 0.0015520650917705,
 0.0010243613118706629,
 0.004722998659782216,
 0.0034057944934918804,
 0.0019708832018375064,
 0.0027907651106321625,
 0.002507333986015744,
 0.0015907549245681993,
 0.0004109959073757304,
 0.0022783199998806917,
 0.0032077226466751783,
 0.0028373293941934357,
 0.0024366204673954826,
 0.002586757619598936,
 0.0026008202448588947,
 0.0021407639774275134,
 0.001867100878110539,
 0.0011782247521563386,
 0.0012501689925993708,
 0.0024649000053789914,
 0.0019637795173561004,
 0.0024121135318150135,
 0.006277497908861259,
 0.0060798498975772955,
 0.00523922015575706,
 0.004519685795096634,
 0.007732277064680382,
 0.0072861920704179435,
 0.007435358773715279,
 0.006802687753962741,
 0.014677844892035557,
 0.00599986047354791,
 0.010689129011613537,
 0.01833570450411869,
 0.028191875366151378,
 0.006436568957583104,
 0.012021779020524492,
 0.012324243717638036,
 0.012138166817172929,
 0.012448950062144517,
 0.02309422336798731,
 0.012553705588734998,
 0.003790100708806907,
 0.0020480681704806735,
 0.003473909597580331,
 0.002540295774858368,
 0.0016693605369083033,
 0.0026966767251491754,
 0.0033859951747321425,
 0.0026107196186328815,
 0.003058124828602121,
 0.0026999930654173897,
 0.005077034804914771,
 0.004604537247447217,
 0.003708392686073892,
 0.0019640327281463224,
 0.003573960968118329,
 0.00275602420372781,
 0.0009896149029365916,
 0.0022854471566799766,
 0.0029384567413150097,
 0.0026633666508802385,
 0.00904726949307564,
 0.012719023902409846,
 0.005164432223793202,
 0.00883412043551139,
 0.004623252897902624,
 0.008912426893417128,
 0.011444988445824703,
 0.009341433528390817,
 0.00817846905987009,
 0.004266589251276585,
 0.003404551564616357,
 0.004894366571851832,
 0.005043627647799262,
 0.0025139145707636567,
 0.0028738555983761605,
 0.003229662657942058,
 0.0020104179079264784,
 0.0027124414066897118,
 0.0009493035432031482,
 0.0015690837897041937,
 0.0018577344968073797,
 0.004652735710936014,
 0.0026107547714533303,
 0.0014101247739531876,
 0.0017318910956262551,
 0.0011616711388121948,
 0.0005569460142135262,
 0.0021169286255369236,
 0.0009029105093207066,
 0.0017486463280309862,
 0.004225236610874195,
 0.0057950383211817,
 0.003120067427939663,
 0.0017187802947841043,
 0.0017291212596011356,
 0.0009170414297537675,
 0.001634542128280124,
 0.002810050493546381,
 0.0022152299729339743,
 0.0016862496625932994,
 0.0028531839261513336,
 0.0022669823972164397,
 0.0032265344142357,
 0.0016794998792240513,
 0.0014240837763699412,
 0.0016124139981632194,
 0.0005172471427811797,
 0.002115039518856311,
 0.0017319761127037865,
 0.0009776769137439891,
 0.002452534295325664,
 0.0037853819094347645,
 0.0030275722884955283,
 0.0017174404610920111,
 0.0035014820527987734,
 0.006098739951533928,
 0.0033265294449694787,
 0.002394223251430526,
 0.002668553719610256,
 0.0022997101352940407,
 0.004573182242971389,
 0.0027190150082436995,
 0.003394005185703495,
 0.001867955782910989,
 0.0017204015210824258,
 0.0022492317121116396,
 0.0023486676422803344,
 0.0031514482713245386,
 0.004619006658114018,
 0.0027865592287076683,
 0.0008185158846224569,
 0.002531273801089429,
 0.0008050707348012928,
 0.002539493203283714,
 0.0019863857642343813,
 0.001422617149370245,
 0.0013575521234094731,
 0.002743336398576725,
 0.0012428830166778407,
 0.0016998049105333406,
 0.005742583006621766,
 0.004310428755107947,
 0.0028493639752047,
 0.0030391817679816316,
 0.0016498448536049848,
 0.0023915252912710917,
 0.0011738313769138703,
 0.003411199512742918,
 0.00199816506455046,
 0.0025843576440798322,
 0.011086155010424635,
 0.006887963371546281,
 0.016482578749709275,
 0.004628733019719104,
 0.006777102771998767,
 0.0063972848737889705,
 0.011912327654113333,
 0.005531509488792065,
 0.0033773514866584915,
 0.009646821590626796,
 0.002852748575920714,
 0.002263642431976285,
 0.0017865075674993703,
 0.0019921197328859864,
 0.002147549996493911,
 0.0012096346079477564,
 0.0013659351172440176,
 0.0018160394113592255,
 0.0014897372405671104,
 0.0017293283527281618,
 0.003682794874326136,
 0.002210959070734266,
 0.0024651130958337287,
 0.0019768253910890615,
 0.0016699060959156715,
 0.0019195875776440918,
 0.001209009892645211,
 0.0018122487535035914,
 0.001599737852341382,
 0.0021155791738975277,
 0.004431562520348541,
 0.006065933477886249,
 0.012562345456029227,
 0.0043925134193552725,
 0.008007885105635245,
 0.0047154429373801555,
 0.00556835278100001,
 0.005227800740971385,
 0.006300166397394048,
 0.003157507496511425,
 0.0013040942944022621,
 0.007211974034435578,
 0.0029943488324016675,
 0.005120922957031629,
 0.0036159680191468844,
 0.0044191512296199355,
 0.0038012826542928846,
 0.004904591524929137,
 0.0005723704774338072,
 0.001814692914291722,
 0.0020939409339763766,
 0.00257928727094355,
 0.003124656382405545,
 0.0028679401387623794,
 0.0016363595900664592,
 0.0008624654721984897,
 0.0003864510688387846,
 0.0022440095450931836,
 0.0017078476556110066,
 0.001348141750546955,
 0.0025565080644208704,
 0.0034439125329006033,
 0.006069271108093979,
 0.0022502976473205744,
 0.003989771875212722,
 0.004094436644144951,
 0.00326861209219958,
 0.0027699979473314765,
 0.004454744290850555,
 0.002818897493293752,
 0.0045250561592420505,
 0.0028544264073926554,
 0.0023349327751572154,
 0.002076284604092295,
 0.001533521387208716,
 0.0014609950482155944,
 0.0024316122420217595,
 0.002822402539623608,
 0.006637028920441593,
 0.0030680727792537924,
 0.003476922760336605,
 0.0027462277622531555,
 0.0022977544406437593,
 0.002856163911899169,
 0.0022826431611814545,
 0.0024597622270904986,
 0.003085776135181034,
 0.004989052657454382,
 0.0022028250735358157,
 0.0027188923203873947,
 0.0017694498039275807,
 0.0027729623899130995,
 0.0019938822243643272,
 0.00226024442281689,
 0.0009871067842651953,
 0.0010265304134508932,
 0.0006701465351459369,
 0.0020467146337640016,
 0.0016318451426827031,
 0.000694246972761355,
 0.0020455518608198794,
 0.0037444981715684085,
 0.0022081237171523186,
 0.0018837247970512946,
 0.001554425516420179,
 0.0018553016078878218,
 0.00141094843651309,
 0.00203368055976658,
 0.0012556669077055434,
 0.0017277216868688628,
 0.005425008908180166,
 0.0024891376244982793,
 0.0025982690283765514,
 0.001871220202531343,
 0.0008264723031332048,
 0.001361435073821062,
 0.0020857307624823763,
 0.004729456047508029,
 0.0038860003057837695,
 0.002015453096749949,
 0.006816142830718112,
 0.009582837544611436,
 0.009346162840625076,
 0.004023940770055082,
 0.0032176440679889543,
 0.0037148283464958,
 0.007352506098962204,
 0.004133208956601597,
 0.003204044367509549,
 0.0021045222454430562,
 0.0010420097670717258,
 0.002113815905561983,
 0.0016870957352430158,
 0.0012734870796080656,
 0.0008526024948980192,
 0.0005963367327089799,
 0.0011483351696687644,
 0.0008244438638398813,
 0.0011521148693719736,
 0.0007853980195183292,
 0.005074878463680114,
 0.007570896010811731,
 0.007810841372467912,
 0.0035178403151745288,
 0.005354041057936871,
 0.00284861752739621,
 0.0018846173056008416,
 0.005348346340282916,
 0.0018634049322273133,
 0.001848905639968469,
 0.003465222505184368,
 0.0027114677950719817,
 0.0019575599237138825,
 0.003583836545574886,
 0.002443483109224748,
 0.0012243134146294838,
 0.0031592006389703554,
 0.002406956812046331,
 0.004100406426789015,
 0.002101295025797383,
 0.003375669640563389,
 0.0033200521185907882,
 0.004047407593071359,
 0.002343860854369928,
 0.0015995686803016312,
 0.0003880360005804018,
 0.002483367263384068,
 0.0030334855259231347,
 0.006174598850021129,
 0.004140292733989675,
 0.0013758429098845724,
 0.005154370207143194,
 0.003844595828938772,
 0.0017679255739441273,
 0.0018310492282927076,
 0.0013292383784305436,
 0.001739195873920071,
 0.001709502711807819,
 0.0015380506988758632,
 0.001789494624773322,
 0.002749664716801175,
 0.0020382092747462045,
 0.001737435798783259,
 0.0017882734368640835,
 0.0010064363659412928,
 0.0011193822481167144,
 0.0018474852372129624,
 0.0013566848136833173,
 0.0027253541636492943,
 0.0013582244492596747,
 0.003193865698581102,
 0.0029650350948274345,
 0.004422552577177064,
 0.0027202771684319113,
 0.0019567812379432253,
 0.0016240532374683166,
 0.0012482840862609987,
 0.0021838868417765477,
 0.0022999627755089336,
 0.0027172276109319288,
 0.001633465151895211,
 0.0016998218672360902,
 0.0012568374563614875,
 0.0021206527594424917,
 0.0005933838768387218,
 0.0005609706921194652,
 0.0009642274291691343,
 0.002003465313896471,
 0.0017526627604179945,
 0.0016226256118113144,
 0.0021526561314088146,
 0.0024544802369480716,
 0.0035078750507881616,
 0.0026327683375815,
 0.0026581695072199186,
 0.002372368201330702,
 0.0030473321326532593,
 0.002033998618087931,
 0.001054237982655371,
 0.0007062978191966626,
 0.0015158568444820267,
 0.002055869051824263,
 0.0009607818238243732,
 0.000385133933278586,
 0.0011560531379754234,
 0.002171088677351173,
 0.0012850296179197354,
 0.0010874257673988818,
 0.001239749525891251,
 0.0011423074366047386,
 0.0020657897242627146,
 0.002659144482948874,
 0.0024892077848417318,
 0.0012587989109710805,
 0.0011562752685919182,
 0.0019964430888240654,
 0.0012049294635524935,
 0.0009843439533771302,
 0.0019775273951249932,
 0.0015779923760128251,
 0.00038670889387452056,
 0.0006499368048219397,
 0.0003864510688387846,
 0.00140286725744023,
 0.0005186511642941295,
 0.0005438092294398315,
 0.002869912666155266,
 0.0013734810744013962,
 0.001270698599160119,
 0.0013985698289157448,
 0.0028553705268615404,
 0.0035893314236670588,
 0.0018652352514660897,
 0.0020799707812849473,
 0.0021427073614360805,
 0.0025869361250172567,
 0.0007853269859633566,
 0.0021082967122378884,
 0.0016530039887939342,
 0.0015858558816466718,
 0.004184999290831432,
 0.006276296192070733,
 0.002524940990354453,
 0.004099564427064103,
 0.0017393654541306713,
 0.0030479173631777615,
 0.0023942741942906435,
 0.0023813858019961,
 0.001664744707204309,
 0.0026755906533490782,
 0.007378306339096421,
 0.010572006317338092,
 0.003612418341163242,
 0.012557583449681223,
 0.0007024441216034746,
 0.0040990147774192486,
 0.0044619829159158655,
 0.012328362658370883,
 0.014859314542488527,
 0.008685600593610527,
 0.004377576120346401,
 0.0059758156069729925,
 0.004683101147057582,
 0.0009698472811112721,
 0.0010337787558154688,
 0.0030211165576113233,
 0.000385133933278586,
 0.002639954589088324,
 0.004781785106879282,
 0.0031553411221400367,
 0.0006603272266791722,
 0.0015933557251362202,
 0.0009296976780970837,
 0.0018868916290959881,
 0.0020933550423893796,
 0.0013410698831016143,
 0.0017622569612080962,
 0.0028633952334231045,
 0.0015212755040515033,
 0.002100462688309396,
 0.010965240529919226,
 0.01487058243451806,
 0.009789018884654476,
 0.01445753626598081,
 0.005700318452317653,
 0.00669405446021221,
 0.011278119814777797,
 0.015164650857987221,

In [32]:
len(test_pred)/28

2174.0

In [333]:
#### mase for the hierarchical time series
np.mean(mase_base)

0.00492575781142385

In [47]:
len(eva_list[3]['store_id'].unique())

10

In [48]:
################################# SUMMING MATRIX FOR BU, TD, AND MINT
def SMatrix(level_number, bottom_level_number, eva_list_ts):
    l = []
    i = 0
    while i <= level_number:
        if i == 0:  # ï¼ˆ1ï¼Œ2160ï¼‰
            # for top level
            a = np.ones(bottom_level_number).reshape(1,2160)
            l.append(a)
            
        elif i == 1:  #ï¼ˆ3ï¼Œ2160ï¼‰
            # for l2
            l.append([])
            o = [[1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 1, 1, 1, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 1, 1, 1]]
            for x1 in range(len(eva_list_ts[i]['state_id'].unique())):
                r = (o[x1] * (bottom_level_number // len(o) + 1))[:bottom_level_number]
                l[i].append(r)
        elif i == 2:  #ï¼ˆ10ï¼Œ2160ï¼‰
            # for l3 store
            l.append([])
            for x2 in range(len(eva_list_ts[i]['store_id'].unique())):
                o = np.zeros(bottom_level_number)
                o[x2::9] = 1
                l[i].append(o)
        elif i == 3:  # ï¼ˆ2160ï¼Œ2160ï¼‰
            # for l4
            l.append(np.eye(bottom_level_number))
        else:
            break
        i += 1
    S = np.concatenate((l[0], l[1], l[2], l[3]), axis=0)
    return S

In [49]:
S_Matrix = SMatrix(4,2160, eva_list)

In [50]:
np.shape(S_Matrix)

(2174, 2160)

In [229]:
######## G matrix for BU
g1 = np.zeros((2160,14))#ï¼ˆ bottom_level , except_bottom levelï¼‰
g2 = np.eye(2160)# bottom level
G_bu = np.concatenate((g1,g2), axis=1)
G_bu

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [230]:
np.shape(G_bu)

(2160, 2174)

In [231]:
SG_bu = np.dot(S_Matrix, G_bu)

In [232]:
############# for all 3 reconciliation methods
y_base_frec = test_pred.reshape(int(len(y_test)/28),28)

In [233]:
y_coh_frec_bu = np.dot(SG_BU, y_base_frec)
y_coh_frec_bu

array([[2.87271809e+03, 2.83518813e+03, 2.82170303e+03, ...,
        3.47435950e+03, 3.66653762e+03, 3.59506159e+03],
       [1.31792136e+03, 1.29900247e+03, 1.26898251e+03, ...,
        1.49236265e+03, 1.59521869e+03, 1.62863936e+03],
       [6.68449743e+02, 6.80509193e+02, 6.97948392e+02, ...,
        8.83724379e+02, 9.29024450e+02, 9.01336129e+02],
       ...,
       [3.43297176e+00, 3.01815797e+00, 2.88633280e+00, ...,
        2.84748045e+00, 3.11658267e+00, 2.38970711e+00],
       [3.73699386e+00, 2.52582476e+00, 1.63335436e+00, ...,
        2.06502376e+00, 1.95800698e+00, 1.47116428e+00],
       [2.46367824e+00, 2.05463634e+00, 3.05996365e+00, ...,
        8.41853415e-01, 1.02323021e+00, 1.34062698e+00]])

In [234]:
# BU's MASE
re_bu = forecast_mase(y_coh_frec_bu.reshape(60872,1), y_test)
np.mean(re_bu)

0.005343179454768409

In [242]:
###########################TD
# G_Matrix_TD
def G_Matrix_TD(bottom_level, top_level, ts_length, col_bo, col_to, ts_amount):
    from typing import Optional
    from tqdm import tqdm
    prop_mean = []
    n = int(len(bottom_level[col_bo])/ts_length)
    for i in tqdm(range(n)):
        prop = []
        #prop = np.divide(np.array(bottom_level[col_bo][i*ts_length : (i+1)*ts_length]), np.array(top_level[col_to]))
        #, out=np.zeros_like(vector1), where=(vector2 != 0)
        with np.errstate(divide='ignore', invalid='ignore'):
            prop =  (bottom_level[col_bo].iloc[i*ts_length : (i+1)*ts_length].values/top_level[col_to].values)
        prop_mean.append(prop)
    prop_mean = np.nan_to_num(prop_mean)
    prop_mean = np.mean(prop_mean,axis = 1).reshape(-1,1)
    g2 = np.zeros((n, ts_amount-1))
    G = np.concatenate((prop_mean, g2), axis=1)
    return G

In [243]:
G_td = G_Matrix_TD(eva_list[3], eva_list[0], 1941, 'sales', 'sales', 2174)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2160/2160 [00:00<00:00, 42351.85it/s]

In [244]:
SG_td = np.dot(S_Matrix, G_td)
SG_td

array([[9.98969603e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.65835429e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.51465335e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.04392435e-03, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [9.02260842e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [8.24399064e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [245]:
y_coh_frec_td = np.dot(SG_TD, y_base_frec)
y_coh_frec_td

array([[2.53619861e+03, 2.77715748e+03, 2.76623876e+03, ...,
        3.52296629e+03, 3.48289078e+03, 3.44206800e+03],
       [1.18266979e+03, 1.29503274e+03, 1.28994117e+03, ...,
        1.64281526e+03, 1.62412741e+03, 1.60509110e+03],
       [6.38423865e+02, 6.99079166e+02, 6.96330654e+02, ...,
        8.86817673e+02, 8.76729677e+02, 8.66453575e+02],
       ...,
       [2.65033038e+00, 2.90213266e+00, 2.89072259e+00, ...,
        3.68150369e+00, 3.63962474e+00, 3.59696490e+00],
       [2.29067300e+00, 2.50830499e+00, 2.49844330e+00, ...,
        3.18191316e+00, 3.14571730e+00, 3.10884652e+00],
       [2.09299638e+00, 2.29184754e+00, 2.28283687e+00, ...,
        2.90732581e+00, 2.87425352e+00, 2.84056455e+00]])

In [246]:
re_td = forecast_mase(y_coh_frec_td.reshape(60872,1), y_test)
print(np.mean(re_td))

0.005889916583258045

In [247]:
np.shape(S_Matrix)

(2174, 2160)

In [249]:
test_pred

array([2.53881460e+03, 2.78002201e+03, 2.76909202e+03, ...,
       8.41853415e-01, 1.02323021e+00, 1.34062698e+00])

In [253]:
y_test

         y_1DaysF
1912       2841.0
1913       2860.0
1914       2799.0
1915       3184.0
1916       3800.0
...           ...
4192554       0.0
4192555       0.0
4192556       0.0
4192557       0.0
4192558       4.0

[60872 rows x 1 columns]

In [322]:
########  MinTâ€˜s G matrix ############
### estimate Wh matrix at first # size (2174*2174)
def W_matrix_G(forecast, truth):
    residuals_ = []
    for i in range(int(len(forecast)/28)):
        res = np.mean(truth[i*28:(i+1)*28]-forecast[i*28:(i+1)*28])
        residuals_.append(res)
    W = np.diag(residuals_)
    return W, residuals_

In [323]:
W , residuals =W_matrix_G(test_pred, y_test.values)

In [324]:
residuals
np.shape(residuals)
np.shape(W)

(2174, 2174)

In [325]:
G_mint = np.linalg.inv(S_Matrix.T@np.linalg.inv(W)@S_Matrix)@S_Matrix.T@np.linalg.inv(W)

In [327]:
np.shape(G_mint)

(2160, 2174)

In [329]:
SG_mint = S_Matrix@ G_mint
SG_mint

array([[ 1.39467762e-01,  2.96038807e-01,  2.24310686e-01, ...,
         2.95284200e-01,  1.40666688e-01,  2.98164743e-01],
       [ 5.35015915e-02,  4.81488762e-01, -9.35368385e-02, ...,
        -8.10018608e-02, -1.25259970e-01, -9.28271006e-02],
       [ 3.38466710e-02, -7.80963304e-02,  4.03864190e-01, ...,
        -2.80528367e-02, -7.41395416e-02, -2.83572009e-02],
       ...,
       [ 1.03666932e-04, -1.57353706e-04, -6.52695809e-05, ...,
         9.96279357e-01, -5.72446629e-04, -6.87004324e-04],
       [-4.79658907e-05,  2.36339057e-04,  1.67542562e-04, ...,
         5.56001826e-04,  1.00450856e+00,  5.81130619e-04],
       [-1.98973675e-04,  3.42764679e-04,  1.25411308e-04, ...,
         1.30586646e-03,  1.13729162e-03,  1.00688763e+00]])

In [330]:
y_coh_frec_mint = SG_mint@y_base_frec
y_coh_frec_mint

array([[2.55790195e+03, 2.64310586e+03, 2.65508267e+03, ...,
        3.45419990e+03, 3.82591726e+03, 3.49061909e+03],
       [1.20144222e+03, 1.22825153e+03, 1.21466945e+03, ...,
        1.46648008e+03, 1.74573483e+03, 1.65020482e+03],
       [6.00509421e+02, 6.36086081e+02, 6.60236179e+02, ...,
        8.58845069e+02, 9.25763092e+02, 8.48829901e+02],
       ...,
       [3.04579832e+00, 2.80700003e+00, 2.75870140e+00, ...,
        2.89343063e+00, 2.93148874e+00, 2.01694533e+00],
       [3.98440311e+00, 2.80577049e+00, 1.78717284e+00, ...,
        1.93706592e+00, 1.70149784e+00, 1.72471699e+00],
       [2.41485787e+00, 2.02047598e+00, 3.12912381e+00, ...,
        2.66187976e-01, 3.72410398e-01, 1.26035999e+00]])

In [331]:
re_mint = forecast_mase(y_coh_frec_mint.reshape(60872,1), y_test)
print(np.mean(re_mint))

0.005244599671068256

In [335]:
print("lgbm's forecasts:", np.mean(mase_base))
print("lgbm with BU's forecasts:", np.mean(re_bu))
print("lgbm with TD's forecasts:", np.mean(re_td))
print("lgbm with MinT's forecasts:", np.mean(re_mint))

lgbm's forecasts: 0.00492575781142385
lgbm with BU's forecasts: 0.005343179454768409
lgbm with TD's forecasts: 0.005889916583258045
lgbm with MinT's forecasts: 0.005244599671068256