In [1]:
import numpy as np 
import pandas as pd 
import gc

pd.options.mode.chained_assignment = None  # default='warn'
#import matplotlib.pyplot as plt
#import seaborn as sns
df_cal = pd.read_csv('calendar.csv')
df_eval = pd.read_csv('sales_train_evaluation.csv')
df_price = pd.read_csv('sell_prices.csv')
#df_sample_output = pd.read_csv('sample_submission.csv')

In [2]:
df_cal

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [3]:
hol_list = df_cal['event_name_1'].unique()[1:]
wkd_list = ['Saturday','Sunday']
df_cal['is_holiday_1'] = df_cal['event_name_1'].apply(lambda x : 1 if x in hol_list else 0 )
df_cal['is_holiday_2'] = df_cal['event_name_1'].apply(lambda x : 1 if x in hol_list else 0 )
df_cal['is_holiday'] = df_cal[['is_holiday_1','is_holiday_2']].max(axis=1)
df_cal['is_weekend'] = df_cal['weekday'].apply(lambda x : 1 if x in wkd_list else 0 )
df_cal = df_cal.drop(['weekday', 'wday', 'month', 'year', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2'], axis='columns')

In [4]:
df_cal

,date,wm_yr_wk,d,snap_CA,snap_TX,snap_WI,is_holiday_1,is_holiday_2,is_holiday,is_weekend
0,2011-01-29,11101,d_1,0,0,0,0,0,0,1
1,2011-01-30,11101,d_2,0,0,0,0,0,0,1
2,2011-01-31,11101,d_3,0,0,0,0,0,0,0
3,2011-02-01,11101,d_4,1,1,0,0,0,0,0
4,2011-02-02,11101,d_5,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,d_1965,0,1,1,0,0,0,0
1965,2016-06-16,11620,d_1966,0,0,0,0,0,0,0
1966,2016-06-17,11620,d_1967,0,0,0,0,0,0,0
1967,2016-06-18,11621,d_1968,0,0,0,0,0,0,1
1968,2016-06-19,11621,d_1969,0,0,0,1,1,1,1

In [5]:
df_eval

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,0,3,0,1,1,0,0,1,1
30486,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
30487,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0,0,1,2,0,1,0,1,0,2
30488,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,1,1,4,6,0,1,1,1,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,2,0,5,4,0,2,2,5,1

In [6]:
# for all FOODS_1
eva_all = df_eval[df_eval['dept_id'] == 'FOODS_1']
eva_all = eva_all.melt(['id','item_id','dept_id','cat_id','store_id','state_id'],var_name = 'd', value_name = 'sales')
eva_all = pd.merge(eva_all, df_cal, how = 'left', on = 'd')
eva_all = pd.merge(eva_all, df_price, how = 'left', on = ['item_id', 'wm_yr_wk', 'store_id'])
eva_all = eva_all.drop(['is_holiday_1','is_holiday_2'], axis =1)
eva_all
############################################################ Times cost: 107 seconds

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price
0,FOODS_1_001_CA_1_evaluation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,d_1,3,2011-01-29,11101,0,0,0,0,1,2.00
1,FOODS_1_002_CA_1_evaluation,FOODS_1_002,FOODS_1,FOODS,CA_1,CA,d_1,0,2011-01-29,11101,0,0,0,0,1,7.88
2,FOODS_1_003_CA_1_evaluation,FOODS_1_003,FOODS_1,FOODS,CA_1,CA,d_1,0,2011-01-29,11101,0,0,0,0,1,2.88
3,FOODS_1_004_CA_1_evaluation,FOODS_1_004,FOODS_1,FOODS,CA_1,CA,d_1,0,2011-01-29,11101,0,0,0,0,1,NaN
4,FOODS_1_005_CA_1_evaluation,FOODS_1_005,FOODS_1,FOODS,CA_1,CA,d_1,3,2011-01-29,11101,0,0,0,0,1,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192555,FOODS_1_215_WI_3_evaluation,FOODS_1_215,FOODS_1,FOODS,WI_3,WI,d_1941,0,2016-05-22,11617,0,0,0,0,1,1.84
4192556,FOODS_1_216_WI_3_evaluation,FOODS_1_216,FOODS_1,FOODS,WI_3,WI,d_1941,2,2016-05-22,11617,0,0,0,0,1,5.28
4192557,FOODS_1_217_WI_3_evaluation,FOODS_1_217,FOODS_1,FOODS,WI_3,WI,d_1941,1,2016-05-22,11617,0,0,0,0,1,3.54
4192558,FOODS_1_218_WI_3_evaluation,FOODS_1_218,FOODS_1,FOODS,WI_3,WI,d_1941,20,2016-05-22,11617,0,0,0,0,1,0.98
4192559,FOODS_1_219_WI_3_evaluation,FOODS_1_219,FOODS_1,FOODS,WI_3,WI,d_1941,4,2016-05-22,11617,0,0,0,0,1,2.24

In [7]:
len(eva_all['item_id'].unique())

216

In [8]:
cat_encode = {"HOBBIES":1,"HOUSEHOLD":2,"FOODS":3}
state_encode = {"CA":1,"TX":2,"WI":3}
dept_encode = {'HOBBIES_1':11, 'HOBBIES_2':12, 
               'HOUSEHOLD_1':21, 'HOUSEHOLD_2':22, 
               'FOODS_1':31,'FOODS_2':32, 'FOODS_3':33}
store_encode = {'CA_1':11, 'CA_2':12, 'CA_3':13, 'CA_4':14, 
                'TX_1':21, 'TX_2':22, 'TX_3':23, 
                'WI_1':31, 'WI_2':32, 'WI_3':33}
def data_encode(df):
    #other_columns = ['cat_id','state_id']
    # use only numerical columns
    df['state_id'] = df['state_id'].replace(state_encode)
    df['cat_id'] = df["cat_id"].replace(cat_encode)
    df['dept_id'] = df["dept_id"].replace(dept_encode)
    df['store_id'] = df["store_id"].replace(store_encode)
    import re
    df['d'] = df['d'].apply(lambda x : int(re.search(r'd_(\d+)', x).group(1)))
    # calendar [["wm_yr_wk", "wday", "month", "year",'d','snap_CA','snap_TX',"snap_WI"]]
    return df

def trans_str(ori_str):
    trans_str = ori_str.replace('_', '')
    trans_str = trans_str.replace('HOBBIES', '1')
    trans_str = trans_str.replace('HOUSEHOLD', '2')
    trans_str = trans_str.replace('FOODS', '3')
    trans_str = trans_str.replace('CA', '1')
    trans_str = trans_str.replace('TX', '2')
    trans_str = trans_str.replace('WI', '3')
    trans_str = trans_str.replace('evaluation', '')
    return trans_str
eva_all_encode = data_encode(eva_all)
eva_all_encode['item_id'] = eva_all_encode['item_id'].apply(trans_str)
eva_all_encode['item_id'] = eva_all_encode['item_id'].astype(int)
eva_all_encode['id'] = eva_all_encode['id'].apply(trans_str)
eva_all_encode['id'] = eva_all_encode['id'].astype(int)
uni_val = eva_all_encode['id'].unique()
mapping = {val: idx for idx, val in enumerate(uni_val)}
eva_all_encode['id'] = np.vectorize(mapping.get)(eva_all_encode['id'])
eva_all_encode = eva_all_encode.drop(['date','wm_yr_wk'],axis=1)#,'id'

eva_all_encode
############################################## Time cost : 121 seconds

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price
0,0,31001,31,3,11,1,1,3,0,0,0,0,1,2.00
1,1,31002,31,3,11,1,1,0,0,0,0,0,1,7.88
2,2,31003,31,3,11,1,1,0,0,0,0,0,1,2.88
3,3,31004,31,3,11,1,1,0,0,0,0,0,1,NaN
4,4,31005,31,3,11,1,1,3,0,0,0,0,1,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192555,2155,31215,31,3,33,3,1941,0,0,0,0,0,1,1.84
4192556,2156,31216,31,3,33,3,1941,2,0,0,0,0,1,5.28
4192557,2157,31217,31,3,33,3,1941,1,0,0,0,0,1,3.54
4192558,2158,31218,31,3,33,3,1941,20,0,0,0,0,1,0.98
4192559,2159,31219,31,3,33,3,1941,4,0,0,0,0,1,2.24

In [9]:
len(eva_all['id'].unique())

2160

In [10]:
eva_all_encode.isna().sum()

id                 0
item_id            0
dept_id            0
cat_id             0
store_id           0
state_id           0
d                  0
sales              0
snap_CA            0
snap_TX            0
snap_WI            0
is_holiday         0
is_weekend         0
sell_price    601342
dtype: int64

In [11]:
eva_f1 = eva_all_encode#.drop('id',axis=1)
eva_f1

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price
0,0,31001,31,3,11,1,1,3,0,0,0,0,1,2.00
1,1,31002,31,3,11,1,1,0,0,0,0,0,1,7.88
2,2,31003,31,3,11,1,1,0,0,0,0,0,1,2.88
3,3,31004,31,3,11,1,1,0,0,0,0,0,1,NaN
4,4,31005,31,3,11,1,1,3,0,0,0,0,1,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192555,2155,31215,31,3,33,3,1941,0,0,0,0,0,1,1.84
4192556,2156,31216,31,3,33,3,1941,2,0,0,0,0,1,5.28
4192557,2157,31217,31,3,33,3,1941,1,0,0,0,0,1,3.54
4192558,2158,31218,31,3,33,3,1941,20,0,0,0,0,1,0.98
4192559,2159,31219,31,3,33,3,1941,4,0,0,0,0,1,2.24

In [14]:
del eva_all_encode
gc.collect()

0

In [15]:
# Level data generation:
col_1_L1 = ['sell_price','sales', 'item_id','store_id', 'state_id'] #,'dept_id', 'cat_id' 'id',
col_1_L2 = ['sell_price','sales', 'item_id','store_id'] #,'dept_id', 'cat_id', 'state_id' 'id',
col_1_L3 = ['sell_price','sales', 'item_id'] #,'dept_id', 'cat_id', 'store_id'            'id', 
col_1_L4 = ['sell_price','sales', ] #'id',

col_2_L1 = ['is_weekend','is_holiday','snap_CA','snap_TX','snap_WI']
col_2_L2 = ['is_weekend','is_holiday','snap_CA','snap_TX','snap_WI']
col_2_L3 = ['is_weekend','is_holiday','snap_CA','snap_TX','snap_WI']
col_2_L4 = ['is_weekend','is_holiday','snap_CA','snap_TX','snap_WI']

col_1_L = [col_1_L1, 
           col_1_L2,
           col_1_L3,
           col_1_L4]
col_2_L = [col_2_L1, 
           col_2_L2,
           col_2_L3,
           col_2_L4]
columns_name = ['d','item_id', 'store_id', 'state_id', 'snap_CA', 'snap_TX', 'snap_WI', 'is_holiday','is_weekend', 'sell_price','sales']#'dept_id', 'cat_id','id',

In [16]:
# generrate the hierarchical time series based on the 4 levels
def levelG(df,col_1, col_2, level_n, columns):
    df_list = []
    col = []
    for i in [0,1,2,3]:
        col = list(set(col_1[0]) - set(col_1[i]))
        col.append('d')
        sum_L = df.groupby(col)[col_1[i]].sum().reset_index()
        mea_L = df.groupby(col)[col_2[i]].mean().reset_index().iloc[:,i+1:]
        level = pd.concat([sum_L,mea_L],axis=1)[columns]
        df_list.append(level)
    return df_list

In [17]:
eva_list = levelG(eva_f1, col_1_L, col_2_L, 4, columns_name)

In [18]:
eva_list[0]

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,sales
0,1,67198180,45792,4104,0.0,0.0,0.0,0.0,1.0,2988.53,2343
1,2,67198180,45792,4104,0.0,0.0,0.0,0.0,1.0,2988.53,2216
2,3,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,2988.53,1657
3,4,67198180,45792,4104,1.0,1.0,0.0,0.0,0.0,2988.53,1508
4,5,67198180,45792,4104,1.0,0.0,1.0,0.0,0.0,2988.53,1209
...,...,...,...,...,...,...,...,...,...,...,...
1936,1937,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,7367.44,3073
1937,1938,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,7367.44,3251
1938,1939,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,7367.44,3735
1939,1940,67198180,45792,4104,0.0,0.0,0.0,0.0,1.0,7368.77,4195
1940,1941,67198180,45792,4104,0.0,0.0,0.0,0.0,1.0,7368.77,4031

In [19]:
eva_list[1]

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,sales
0,1,26879272,10800,1,0.0,0.0,0.0,0.0,1.0,1198.90,1157
1,2,26879272,10800,1,0.0,0.0,0.0,0.0,1.0,1198.90,1142
2,3,26879272,10800,1,0.0,0.0,0.0,0.0,0.0,1198.90,787
3,4,26879272,10800,1,1.0,1.0,0.0,0.0,0.0,1198.90,743
4,5,26879272,10800,1,1.0,0.0,1.0,0.0,0.0,1198.90,729
...,...,...,...,...,...,...,...,...,...,...,...
5818,1937,20159454,20736,3,0.0,0.0,0.0,0.0,0.0,2280.30,950
5819,1938,20159454,20736,3,0.0,0.0,0.0,0.0,0.0,2280.30,1048
5820,1939,20159454,20736,3,0.0,0.0,0.0,0.0,0.0,2280.30,1106
5821,1940,20159454,20736,3,0.0,0.0,0.0,0.0,1.0,2280.68,1120
5822,1941,20159454,20736,3,0.0,0.0,0.0,0.0,1.0,2280.68,1028

In [20]:
eva_list[3]########  FOODS_1_219_WI_3 : 3_1_219_3_3

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,sales
0,1,31001,11,1,0.0,0.0,0.0,0.0,1.0,2.00,3
1,2,31001,11,1,0.0,0.0,0.0,0.0,1.0,2.00,0
2,3,31001,11,1,0.0,0.0,0.0,0.0,0.0,2.00,0
3,4,31001,11,1,1.0,1.0,0.0,0.0,0.0,2.00,1
4,5,31001,11,1,1.0,0.0,1.0,0.0,0.0,2.00,4
...,...,...,...,...,...,...,...,...,...,...,...
4192555,1937,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,0
4192556,1938,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,0
4192557,1939,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,0
4192558,1940,31219,33,3,0.0,0.0,0.0,0.0,1.0,2.24,0
4192559,1941,31219,33,3,0.0,0.0,0.0,0.0,1.0,2.24,4

In [22]:
eva_list[3]['id'].unique()#total 216, absent : 31007, 31100, and

array([   0,    1,    2, ..., 2157, 2158, 2159])

In [27]:
#### collect_xy for TOP LEVEL (L1)
def collect_xy(df,colname_1,colname_2,x_window:int = 60, y_window: int = 28):
    # for generating x
    df_ = df.copy()
    for i in range(x_window):
        df_[f'x_{i+1}DaysAgo'] = df_[colname_1].shift(i+1)
        
    # for generating y
    for i in range(y_window):
        df_[f"y_{i+1}DaysF"] = df_[colname_2].shift(-i-1)
    df_ = df_.iloc[x_window : -y_window,:]
    return df_

### cominbe_df_xy for other levels
'''
def combine_df_xy(df,colname_3, col_s):
    from tqdm import tqdm
    uni_id = df[colname_3].unique()
    df_c = pd.DataFrame()
    for i in tqdm(range(len(uni_id))):
        df_e = df[df[colname_3]==uni_id[i]]
        df_d = collect_xy(df_e ,col_s ,col_s)
        df_c = pd.concat([df_c,df_d])
    return df_c'''

'\ndef combine_df_xy(df,colname_3, col_s):\n    from tqdm import tqdm\n    uni_id = df[colname_3].unique()\n    df_c = pd.DataFrame()\n    for i in tqdm(range(len(uni_id))):\n        df_e = df[df[colname_3]==uni_id[i]]\n        df_d = collect_xy(df_e ,col_s ,col_s)\n        df_c = pd.concat([df_c,df_d])\n    return df_c'

In [42]:
### cominbe_df_xy for other levels
def combine_df_xy(df,group_n, col_list):
    from tqdm import tqdm
    uni_id = df[col_list[0]].unique()
    df_c = pd.DataFrame()
    if group_n == 1:
        for i in tqdm(range(len(uni_id))):
            df_e = df[df[col_list[0]]==uni_id[i]]
            df_e = collect_xy(df_e ,col_list[-1] ,col_list[-1])
            df_c = pd.concat([df_c,df_e])
    elif group_n == 2 : # This number is the amount of level names required for us to disaggregate the hierarchical structure
        for i in tqdm(range(len(uni_id))):
            uni_id_2 = df[col_list[1]].unique()
            for x in range(len(uni_id_2)):
                      df_e = df[(df[col_list[0]]==uni_id[i]) & (df[col_list[1]]==uni_id_2[x])]
                      df_e = collect_xy(df_e ,col_list[-1] ,col_list[-1])
                      df_c = pd.concat([df_c,df_e])
    return df_c

In [43]:
l1 = collect_xy(eva_list[0],'sales','sales')
l2 = combine_df_xy(eva_list[1],1,['state_id', 'sales'])
l3 = combine_df_xy(eva_list[2],1,['store_id', 'sales'])
l4 = combine_df_xy(eva_list[3],2,['store_id','item_id','sales'])
#827

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 73.10it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 64.56it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10/10 [13:47<00:00, 82.76s/it]

In [44]:
l4

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,...,y_19DaysF,y_20DaysF,y_21DaysF,y_22DaysF,y_23DaysF,y_24DaysF,y_25DaysF,y_26DaysF,y_27DaysF,y_28DaysF
60,61,31001,11,1,0.0,0.0,0.0,0.0,0.0,2.00,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
61,62,31001,11,1,0.0,0.0,0.0,0.0,0.0,2.00,...,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
62,63,31001,11,1,1.0,1.0,0.0,0.0,0.0,2.00,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
63,64,31001,11,1,1.0,0.0,1.0,0.0,1.0,2.00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
64,65,31001,11,1,1.0,1.0,1.0,0.0,1.0,2.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192527,1909,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,...,1.0,2.0,5.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0
4192528,1910,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,...,2.0,5.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0
4192529,1911,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,...,5.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4192530,1912,31219,33,3,0.0,0.0,0.0,0.0,1.0,2.24,...,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4192531,1913,31219,33,3,0.0,0.0,0.0,0.0,1.0,2.24,...,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [47]:
l3

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,...,y_19DaysF,y_20DaysF,y_21DaysF,y_22DaysF,y_23DaysF,y_24DaysF,y_25DaysF,y_26DaysF,y_27DaysF,y_28DaysF
60,61,6719818,11,1,0.0,0.0,0.0,0.0,0.0,339.62,...,141.0,169.0,157.0,183.0,358.0,452.0,186.0,121.0,130.0,114.0
61,62,6719818,11,1,0.0,0.0,0.0,0.0,0.0,339.62,...,169.0,157.0,183.0,358.0,452.0,186.0,121.0,130.0,114.0,125.0
62,63,6719818,11,1,1.0,1.0,0.0,0.0,0.0,339.62,...,157.0,183.0,358.0,452.0,186.0,121.0,130.0,114.0,125.0,188.0
63,64,6719818,11,1,1.0,0.0,1.0,0.0,1.0,349.41,...,183.0,358.0,452.0,186.0,121.0,130.0,114.0,125.0,188.0,205.0
64,65,6719818,11,1,1.0,1.0,1.0,0.0,1.0,349.41,...,358.0,452.0,186.0,121.0,130.0,114.0,125.0,188.0,205.0,209.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19377,1909,6719818,33,3,0.0,0.0,0.0,0.0,0.0,760.06,...,325.0,302.0,308.0,350.0,336.0,423.0,386.0,271.0,279.0,264.0
19378,1910,6719818,33,3,0.0,0.0,0.0,0.0,0.0,760.06,...,302.0,308.0,350.0,336.0,423.0,386.0,271.0,279.0,264.0,338.0
19379,1911,6719818,33,3,0.0,0.0,0.0,0.0,0.0,760.06,...,308.0,350.0,336.0,423.0,386.0,271.0,279.0,264.0,338.0,285.0
19380,1912,6719818,33,3,0.0,0.0,0.0,0.0,1.0,760.06,...,350.0,336.0,423.0,386.0,271.0,279.0,264.0,338.0,285.0,315.0
19381,1913,6719818,33,3,0.0,0.0,0.0,0.0,1.0,760.06,...,336.0,423.0,386.0,271.0,279.0,264.0,338.0,285.0,315.0,278.0

In [48]:
def dataSplit(df):
    x_train, y_train = df[ df['d']<1913 ].iloc[:,:-28], df[df['d']<1913].iloc[:,-28:]
    x_test, y_test   = df[df['d'] >= 1913].iloc[:,:-28], df[df['d'] >= 1913].iloc[:,-28:]
    return x_train,x_test,y_train,y_test

def Concat(df1,df2):
    df = pd.concat([df1,df2], axis=0)
    return df

In [64]:
hts = [l1, l2, l3, l4]
a1,b1,c1,d1 = pd.DataFrame(),pd.DataFrame(),pd.DataFrame(),pd.DataFrame()#x_train, x_test, y_train, y_test
for i in range(len(hts)) :
    a, b, c, d = dataSplit(hts[i])
    a1, b1, c1, d1 = Concat(a1, a), Concat(b1, b), Concat(c1, c), Concat(d1, d)
del a,b,c,d
gc.collect()

0

In [162]:
a1

,d,item_id,store_id,state_id,snap_CA,snap_TX,snap_WI,is_holiday,is_weekend,sell_price,...,x_51DaysAgo,x_52DaysAgo,x_53DaysAgo,x_54DaysAgo,x_55DaysAgo,x_56DaysAgo,x_57DaysAgo,x_58DaysAgo,x_59DaysAgo,x_60DaysAgo
60,61,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,3405.80,...,1586.0,1925.0,2235.0,1903.0,1897.0,1209.0,1508.0,1657.0,2216.0,2343.0
61,62,67198180,45792,4104,0.0,0.0,0.0,0.0,0.0,3405.80,...,1785.0,1586.0,1925.0,2235.0,1903.0,1897.0,1209.0,1508.0,1657.0,2216.0
62,63,67198180,45792,4104,1.0,1.0,0.0,0.0,0.0,3405.80,...,1737.0,1785.0,1586.0,1925.0,2235.0,1903.0,1897.0,1209.0,1508.0,1657.0
63,64,67198180,45792,4104,1.0,0.0,1.0,0.0,1.0,3486.51,...,2048.0,1737.0,1785.0,1586.0,1925.0,2235.0,1903.0,1897.0,1209.0,1508.0
64,65,67198180,45792,4104,1.0,1.0,1.0,0.0,1.0,3486.51,...,2349.0,2048.0,1737.0,1785.0,1586.0,1925.0,2235.0,1903.0,1897.0,1209.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192526,1908,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,...,4.0,5.0,2.0,0.0,3.0,0.0,3.0,6.0,4.0,3.0
4192527,1909,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,...,3.0,4.0,5.0,2.0,0.0,3.0,0.0,3.0,6.0,4.0
4192528,1910,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,...,1.0,3.0,4.0,5.0,2.0,0.0,3.0,0.0,3.0,6.0
4192529,1911,31219,33,3,0.0,0.0,0.0,0.0,0.0,2.24,...,2.0,1.0,3.0,4.0,5.0,2.0,0.0,3.0,0.0,3.0
4192530,1912,31219,33,3,0.0,0.0,0.0,0.0,1.0,2.24,...,3.0,2.0,1.0,3.0,4.0,5.0,2.0,0.0,3.0,0.0

In [163]:
x_train, x_test, y_train, y_test= a1.iloc[:,4:],b1.iloc[:,4:],c1,d1

In [67]:
y_test

,y_1DaysF,y_2DaysF,y_3DaysF,y_4DaysF,y_5DaysF,y_6DaysF,y_7DaysF,y_8DaysF,y_9DaysF,y_10DaysF,...,y_19DaysF,y_20DaysF,y_21DaysF,y_22DaysF,y_23DaysF,y_24DaysF,y_25DaysF,y_26DaysF,y_27DaysF,y_28DaysF
1912,2841.0,2860.0,2799.0,3184.0,3800.0,4415.0,4285.0,3506.0,4020.0,3602.0,...,4130.0,4257.0,4225.0,3264.0,3119.0,3073.0,3251.0,3735.0,4195.0,4031.0
1912,1417.0,1275.0,1352.0,1440.0,1506.0,1960.0,1914.0,1535.0,1614.0,1598.0,...,1931.0,1854.0,1820.0,1408.0,1316.0,1374.0,1364.0,1631.0,2095.0,2041.0
3853,653.0,683.0,703.0,752.0,964.0,946.0,964.0,849.0,1046.0,773.0,...,1022.0,924.0,1025.0,824.0,797.0,749.0,839.0,998.0,980.0,962.0
5794,771.0,902.0,744.0,992.0,1330.0,1509.0,1407.0,1122.0,1360.0,1231.0,...,1177.0,1479.0,1380.0,1032.0,1006.0,950.0,1048.0,1106.0,1120.0,1028.0
1912,294.0,259.0,268.0,328.0,387.0,455.0,403.0,262.0,332.0,272.0,...,412.0,435.0,415.0,277.0,302.0,397.0,330.0,310.0,427.0,334.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4184767,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,...,3.0,2.0,0.0,0.0,4.0,0.0,3.0,1.0,1.0,0.0
4186708,2.0,2.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,...,3.0,1.0,2.0,4.0,0.0,0.0,1.0,1.0,0.0,2.0
4188649,1.0,0.0,3.0,2.0,1.0,0.0,1.0,1.0,1.0,2.0,...,2.0,4.0,1.0,5.0,2.0,2.0,1.0,0.0,1.0,1.0
4190590,14.0,13.0,16.0,9.0,12.0,15.0,20.0,11.0,20.0,38.0,...,17.0,21.0,20.0,20.0,2.0,6.0,25.0,8.0,14.0,20.0
4192531,2.0,7.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [165]:
from sklearn.multioutput import RegressorChain
from sklearn.metrics import mean_squared_error as mse
def get_lgb():
    from lightgbm import LGBMRegressor as lgbr
    return lgbr(
        n_jobs = -1,
        boosting_type= 'gbdt',
        objective = "regression",
        metric = "rmse",
        num_leaves =64,
        learning_rate = 0.1,
        # 0.05 - 74~75
        #bagging_fraction = 0.7,
        #feature_fraction = 0.5,
        #bagging_frequency = 5,
        #bagging_seed = 42,
        verbosity = 1,
        #seed= 42,
        force_col_wise=True)
#for model_name, get_model in [("LightGB",get_lgb)]:
    #print(f"Model: {model_name}")
l1 = RegressorChain(get_lgb())
l1.fit(x_train, y_train)

[LightGBM] [Info] Total Bins 15820
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 67
[LightGBM] [Info] Start training from score 4.943179
[LightGBM] [Info] Total Bins 16075
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 68
[LightGBM] [Info] Start training from score 4.944538
[LightGBM] [Info] Total Bins 16330
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 69
[LightGBM] [Info] Start training from score 4.945578
[LightGBM] [Info] Total Bins 16585
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 70
[LightGBM] [Info] Start training from score 4.946270
[LightGBM] [Info] Total Bins 16840
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 71
[LightGBM] [Info] Start training from score 4.947360
[LightGBM] [Info] Total Bins 17095
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 72
[LightGBM] [Info] Start training from score 4.949608
[LightGBM] [Info] Total Bins 17350
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 73
[LightGBM] [Info] Start training from score 4.952484
[LightGBM] [Info] Total Bins 17605
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 74
[LightGBM] [Info] Start training from score 4.955205
[LightGBM] [Info] Total Bins 17860
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 75
[LightGBM] [Info] Start training from score 4.957096
[LightGBM] [Info] Total Bins 18115
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 76
[LightGBM] [Info] Start training from score 4.959369
[LightGBM] [Info] Total Bins 18370
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 77
[LightGBM] [Info] Start training from score 4.961036
[LightGBM] [Info] Total Bins 18625
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 78
[LightGBM] [Info] Start training from score 4.962899
[LightGBM] [Info] Total Bins 18880
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 79
[LightGBM] [Info] Start training from score 4.965371
[LightGBM] [Info] Total Bins 19135
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 80
[LightGBM] [Info] Start training from score 4.969021
[LightGBM] [Info] Total Bins 19390
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 81
[LightGBM] [Info] Start training from score 4.971529
[LightGBM] [Info] Total Bins 19645
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 82
[LightGBM] [Info] Start training from score 4.973435
[LightGBM] [Info] Total Bins 19900
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 83
[LightGBM] [Info] Start training from score 4.974934
[LightGBM] [Info] Total Bins 20155
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 84
[LightGBM] [Info] Start training from score 4.976237
[LightGBM] [Info] Total Bins 20410
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 85
[LightGBM] [Info] Start training from score 4.977639
[LightGBM] [Info] Total Bins 20665
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 86
[LightGBM] [Info] Start training from score 4.980413
[LightGBM] [Info] Total Bins 20920
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 87
[LightGBM] [Info] Start training from score 4.983188
[LightGBM] [Info] Total Bins 21175
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 88
[LightGBM] [Info] Start training from score 4.985838
[LightGBM] [Info] Total Bins 21430
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 89
[LightGBM] [Info] Start training from score 4.987453
[LightGBM] [Info] Total Bins 21685
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 90
[LightGBM] [Info] Start training from score 4.988228
[LightGBM] [Info] Total Bins 21940
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 91
[LightGBM] [Info] Start training from score 4.988264
[LightGBM] [Info] Total Bins 22195
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 92
[LightGBM] [Info] Start training from score 4.989283
[LightGBM] [Info] Total Bins 22450
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 93
[LightGBM] [Info] Start training from score 4.991809
[LightGBM] [Info] Total Bins 22705
[LightGBM] [Info] Number of data points in the train set: 4026248, number of used features: 94
[LightGBM] [Info] Start training from score 4.994817

RegressorChain(base_estimator=LGBMRegressor(force_col_wise=True, metric='rmse',
                                            n_jobs=-1, num_leaves=64,
                                            objective='regression',
                                            verbosity=1))

In [166]:
from sklearn.metrics import mean_squared_error as mse
train_pred = l1.predict(x_train)
test_pred = l1.predict(x_test)
print(f"Train score: {mse(train_pred, y_train, squared=True)}")
print(f"Test score: {mse(test_pred, y_test, squared=True)}")

Train score: 55.05877765904048
Test score: 249.5901185608129

In [72]:
len(test_pred)

2174

In [ ]:
# this is for h = 1 
'''
def forecast_mase(forecast, truth):
    mase = []
    from sklearn.metrics import mean_absolute_error as mae
    for i in range(int(len(forecast)/28)):
        mase.append(mae(forecast[i*28:(i+1)*28], truth[i*28:(i+1)*28])/(truth[0:28].diff().abs()[1:].mean()).iloc[0])
    return mase'''

In [167]:
def forecast_mase(forecast_1, truth_1):
    mase = []
    forecast = np.array(forecast_1)
    truth = np.array(truth_1)
    from sklearn.metrics import mean_absolute_error as mae
    for i in range(len(forecast)):
        truth_diff = np.abs(truth[i, 1:] - truth[i, :-1])
        mean_diff = truth_diff.mean()
        if mean_diff == 0:
            mase.append(1)
        else:
            mase.append(mae(forecast[i, :], truth[i, :]) / mean_diff)
    return mase

In [170]:
mase_base = forecast_mase(test_pred, y_test)
mase_base

[1.2296099245265815,
 1.0824106178083166,
 1.6667640102286319,
 1.3989111357732507,
 0.6079710288912129,
 0.8285792150345686,
 1.023827386749365,
 1.040473730156454,
 1.2065613516276872,
 1.06548905019961,
 1.2079466621838313,
 0.8516372646035565,
 1.3467533509139422,
 1.4617148246005718,
 0.8255452075482843,
 0.7672622543290101,
 1.123801738893809,
 1.1624545775789543,
 0.7648782285047796,
 0.7692599994666217,
 1.9228958413204706,
 0.8574162552438805,
 1.7864074167605106,
 1.0769740734715305,
 0.8243372904115093,
 2.4172975277897266,
 0.6692142703011122,
 0.5856053898059548,
 0.9134441938659721,
 0.6840982917711644,
 0.8107407560398966,
 0.8382926504119251,
 0.7485688465480677,
 3.4066910653738027,
 3.41538540320846,
 0.7662492279805848,
 0.6959611545639063,
 1.0855707863621145,
 0.682025110362676,
 0.6878552449559423,
 1.0512999398986074,
 1.2803113479115344,
 0.6368686600506064,
 0.8747324244096372,
 0.748434995512353,
 6.140084325575685,
 1.489326727810538,
 0.9819526972320853,
 0.8817368381997777,
 0.8927181118027614,
 0.7461657090785837,
 0.9852473639320687,
 1.3225810527218878,
 0.6091874278611414,
 0.9153786294827809,
 1.4360680442096792,
 0.9641311778479363,
 0.9449740572503766,
 0.9011485746385391,
 0.8179696386191972,
 1.4674225293828764,
 0.703256820397793,
 0.8162997937829288,
 0.8033961117921197,
 0.6479780144627836,
 3.1385370970784545,
 0.6338142300892919,
 0.6380035099511416,
 0.6573746669791418,
 0.7472053290278883,
 1.0338335438218762,
 2.133828387993609,
 0.6165119456720157,
 0.7460026504470314,
 0.6544993623149676,
 0.589646718803314,
 2.4048852499915787,
 0.7372613178697737,
 0.7175149285464644,
 0.9411288998841947,
 2.0617303937163682,
 0.7165001172843,
 0.7672029669737622,
 0.8479296236379933,
 1.5416397044115047,
 0.8942544422595168,
 0.6721043935058384,
 1.0838176085737656,
 0.936483592151426,
 1.1478946641556227,
 0.8564916747724302,
 1,
 0.7711908332607802,
 0.6663489104835093,
 0.6971052474338106,
 0.7186362122088302,
 5.506369573584993,
 0.8574212848356111,
 0.8732449212474013,
 0.7545734245086508,
 0.5145513952485947,
 0.8824064121268028,
 1.7178875211677886,
 0.7321678178475534,
 1.2668698939207113,
 10.68825672069617,
 0.8128176613657423,
 1,
 0.7759031734477974,
 0.8569150122911859,
 10.215197197750651,
 0.8342753750898025,
 0.8771469601079785,
 1.2026766334831027,
 0.7928645648508679,
 0.870988800928818,
 0.9670476973806154,
 1.2334934395535084,
 2.2884341707853086,
 1.0939695941775143,
 0.699625313232885,
 1.9654089041175262,
 0.9529266941039153,
 0.9390054007042771,
 1.0601775346054647,
 1,
 0.9887724280159816,
 1.1951566987983566,
 0.7747961426247058,
 0.6966600326999602,
 1.218477604782746,
 0.5787696312663365,
 0.6350394346356437,
 1.5267709836871028,
 0.7927790642666542,
 1.2074752412591507,
 0.6951366587428811,
 0.8552956826458488,
 0.8507962290941947,
 0.7867729787704488,
 0.7240432465738971,
 0.7415100992232235,
 1.5885287792527585,
 0.971459417078724,
 0.5348629270191643,
 0.7471516309174238,
 0.6677649514022866,
 1.357832810390337,
 0.9170856096545571,
 0.6597686040387035,
 0.865257513574438,
 0.7681739438625834,
 0.9765661139725778,
 0.710069456954676,
 0.7246843699651897,
 0.789072950761128,
 0.8916539820706211,
 0.7899901075301148,
 1.231131890388266,
 3.632637882267987,
 0.8004084679868967,
 1.0671344392165691,
 1.0384789271641306,
 0.7994665205631435,
 0.9833701011974809,
 1.0007391079490349,
 1.8222016448063594,
 0.6279278007445006,
 2.082579678865156,
 0.789616624768815,
 1.796330995734964,
 1.1982492833464593,
 1.2853189634173765,
 0.7436018425922981,
 1.2936561385382706,
 3.8881975563730786,
 0.6492195514470184,
 1.2184477959708397,
 1.1821460994120911,
 1.0040512374291777,
 0.8663183157118468,
 0.9209768691502753,
 0.7522042927586647,
 0.6648605586922104,
 0.7414255297269032,
 0.9351135908156084,
 1.4338393896596813,
 1.2721696249779728,
 0.738382748248504,
 2.56353041840751,
 0.6686994009736403,
 0.7034588985979131,
 0.748796080969644,
 0.9674671097664109,
 0.9515062545574845,
 0.6101030507422844,
 0.6460971553499383,
 0.8431060466229972,
 0.8184480917472049,
 0.6786042216566801,
 1.8896703918025404,
 3.889447052801366,
 0.8657973847164834,
 0.7553768456116762,
 1.3073505736864786,
 0.7797180252883839,
 0.5970992259605137,
 0.6192754202901678,
 0.610163368772735,
 0.8701475328718699,
 0.7598426910804928,
 0.8536012093090403,
 1.1899714086293485,
 0.8398311407112864,
 1.581871077145724,
 1.2971338667938166,
 0.6735905395502851,
 0.8473091399371961,
 0.6462689340331595,
 0.6215628514652687,
 0.8588128664377115,
 2.1633060599181837,
 0.8748346473665309,
 0.9674398334708315,
 0.6295827831429477,
 0.6208730259551645,
 2.752824402965573,
 0.7986666806966625,
 0.9659832696352201,
 0.6812553914993739,
 1.0208971901019595,
 0.7534247866142528,
 0.8404770609626285,
 1.5562390150393681,
 0.753242682128925,
 0.711297109946069,
 1.8518263428570743,
 0.6373865666182253,
 1.4744932953786194,
 0.7170835834470783,
 1.0176892565273317,
 0.7281027027371926,
 0.8604464735396584,
 0.6717620985018674,
 1.0305936677305683,
 0.7210667207609939,
 0.8863520615137515,
 0.9157098468007198,
 0.7380589311586787,
 0.9821174221836155,
 0.9015740546534687,
 0.7226895553271013,
 0.7098029952309456,
 0.6342770819710467,
 0.663892534043898,
 0.6767766182396562,
 0.8273510327108119,
 10.782822062865883,
 1.0507069586675817,
 0.7040912915240751,
 0.8127062226449141,
 1.2331625648599498,
 0.8213431847641063,
 0.6977004581804119,
 1.3044216554334653,
 0.8224144518431383,
 0.7808520739327226,
 0.9477320886626917,
 0.7258703767033188,
 0.7664838300891127,
 0.6102438004109819,
 1.8385263014577464,
 0.7864266382232972,
 1.0789811401303413,
 0.6988641781368592,
 0.9715509089158672,
 0.8204562180855102,
 0.5890698768570947,
 0.7465148385013802,
 0.6471918643932247,
 0.6703916808137768,
 0.906541667093949,
 0.594714818847678,
 0.6973855046612842,
 0.674688927232641,
 0.610477030601668,
 0.9744853676944197,
 0.6790659275554568,
 0.818044394400872,
 0.9704039405139404,
 0.6309775687687884,
 0.6957190234283337,
 0.7115020058088146,
 0.7629713277347727,
 1.1108838649401722,
 0.6900440643766775,
 0.7647504629273297,
 0.7020172329228185,
 0.7591797308571904,
 0.6348966862899066,
 0.8135125921495886,
 0.9344834053146704,
 0.7176476546301306,
 0.9819850433883659,
 0.9068471075085821,
 1.0335047703967266,
 0.6264159375240448,
 5.439060491336517,
 0.7612808756254588,
 0.8002878621426656,
 0.8301223415210607,
 0.6122491522516122,
 1.8349253246056008,
 0.7891161352344133,
 0.7640878711595,
 0.8588208861594799,
 1.0575047794814059,
 0.7073807985225704,
 0.7452423803607577,
 0.5937907930736016,
 0.6042220714737158,
 0.7216646516132255,
 0.8941472276632818,
 2.04518445185884,
 0.7898113021228717,
 0.6864068898516383,
 1.2149886087742383,
 0.6616890220926236,
 0.669735260933001,
 0.6165871830671962,
 0.7028656578998931,
 0.6787800062388093,
 0.5881467310969565,
 0.7661554469227865,
 0.9174729480549562,
 0.6997941362701635,
 0.9489558052358088,
 0.97847829567499,
 0.894009970227395,
 1.030249812195804,
 0.9266226351934134,
 0.8305113747881084,
 0.8021975813049154,
 0.9267572158624547,
 0.7651883990426197,
 0.6359660985111245,
 0.9175911184747804,
 0.7879643638216673,
 0.8048187711989072,
 0.81918974655551,
 0.6969190986148731,
 0.5827618052734086,
 0.7677791898625107,
 0.7024550681020747,
 0.6279609671499342,
 1.014280836479092,
 0.7413358795257704,
 0.7978329407809838,
 2.4980000574999703,
 0.8718874935625944,
 0.7653662393566241,
 0.998230297378056,
 1.0512211226294095,
 0.948487076612465,
 1.1889431041596303,
 0.6741840069071711,
 0.6487508057174297,
 0.6209800187103797,
 0.8820556040286761,
 0.6275143562857962,
 0.6137687025247052,
 0.6865087714632534,
 0.690963093862409,
 0.654132400114446,
 0.9114964209196527,
 3.884027690434126,
 0.9023092390549513,
 0.7266943283418801,
 1.2174021232832146,
 0.8261389237407453,
 0.7394827906016624,
 0.6755041799550365,
 0.5838036162587341,
 0.6142839201369648,
 0.6724195438270265,
 0.8482047828567139,
 1.1037287001929872,
 0.6778985124753242,
 1.675839201894277,
 0.7564744279909792,
 0.6681242445344086,
 1.43438898617928,
 0.664012095437377,
 0.851070076355637,
 0.5585649876199186,
 0.6525234456146999,
 0.7518965192417568,
 0.8697747748368408,
 0.6715621768227668,
 0.6925423451002389,
 0.7480141204612827,
 0.6862938381484966,
 1.262288848412047,
 0.7037869466618281,
 0.7534069981141425,
 1.069875471123536,
 0.830213464403809,
 0.7099227314834985,
 0.7107389435744838,
 0.6695239166838521,
 0.8765528686955069,
 0.6886150815683976,
 0.6719402740546653,
 0.8531516914517894,
 0.6085287787275986,
 0.8131354786490183,
 0.7431486069214686,
 0.9653640203231895,
 1.0515155439457065,
 1.5267752126960352,
 0.6767877750762263,
 0.7807418805165902,
 0.7921461488541489,
 1.547389880684884,
 0.830932305218722,
 0.8037501099688578,
 1.064394422295965,
 0.7944009491653953,
 1.036467795004479,
 0.6123888713119906,
 0.7973260800004466,
 0.7081307557430864,
 0.7241895009824613,
 0.740223100716353,
 0.7764570813342866,
 0.5549483386537081,
 1.6307598655284798,
 1.1758554657421765,
 0.8375133362354786,
 1.2424195457669698,
 0.8756208562669435,
 0.8016695236794463,
 0.6898211876535295,
 0.6904669581403119,
 0.8281430196823242,
 0.8097943538288582,
 0.8226149134203977,
 0.7948103382976708,
 0.7841804293511364,
 2.005484792397624,
 0.5124367444175102,
 0.7038220842428118,
 3.7945255311578836,
 0.8487845383841723,
 0.7373045521943702,
 0.6314638392145046,
 1,
 1.418603555877171,
 0.7729155342270193,
 0.6302174128015492,
 0.7087731762922932,
 0.675814397730037,
 0.7614161199929357,
 0.8029823078030165,
 0.7831817184656574,
 0.667357721591044,
 0.912335553871283,
 0.7535346668395376,
 0.6728909344660251,
 0.7865477201661084,
 0.8838930265127078,
 1.0857512178908504,
 1.0051611977284098,
 0.9574076063213431,
 1.0224466471948797,
 0.5890680262332502,
 1.1080206235169086,
 2.117914079522324,
 0.8148054040159164,
 1.0681382265607413,
 0.9276356603502455,
 0.785913965399657,
 0.7183178383774729,
 0.8741752880620928,
 0.889328524050116,
 0.6488430343715517,
 0.6187644088767941,
 1.934933134524458,
 0.7215153310461325,
 0.6601195635262312,
 0.9835673651411563,
 0.6851562411127534,
 0.7007889718705462,
 0.6867138961337458,
 0.7134902195550338,
 0.6920959899419081,
 0.9307323329301279,
 12.393222534113033,
 0.7193344230733257,
 1.0185087255632692,
 1.0071946535419884,
 0.8863850024483727,
 0.990493351179288,
 0.8114623932995884,
 0.7782958662441369,
 0.7276913307324668,
 1.1099847309395416,
 0.9115975830737808,
 0.9436745171996486,
 0.7448865396899398,
 1.075710171686845,
 0.6924430918139403,
 0.9070899238284574,
 0.6611780646198828,
 1.5825565318673998,
 0.7120575221241358,
 0.8329815455118252,
 0.9514643841298351,
 0.6715713890759936,
 1.5208592105047352,
 0.8914486768991827,
 3.607196147309147,
 0.6827971145572979,
 1,
 1.7114502441999098,
 1.000648215767698,
 0.7783753644742457,
 0.7331878322292769,
 2.262928078508594,
 0.8709173331923742,
 0.8309457339620845,
 0.714501122959776,
 0.7741521148670106,
 0.6856860298983797,
 0.7131649811413001,
 0.7234674373754498,
 0.6453582553602815,
 1.1271580417490383,
 0.5936719682127151,
 1.9699979069842914,
 0.7508705601411415,
 0.686602952872597,
 0.7887984641639727,
 0.7660635101502629,
 1.3265732918958064,
 1.0002080025695594,
 0.7567107154504357,
 0.8343785913269046,
 0.8502470125805612,
 0.8389383716513253,
 1.1543564416815495,
 1.428119436285231,
 0.7049587500789303,
 1.7578650746614244,
 1.080406520412832,
 0.7568786298118955,
 0.9276327556709236,
 0.7096081461742207,
 0.6829557861546206,
 1.0024965056295778,
 0.7089318526552523,
 1.143234440931293,
 1.5783530668265997,
 0.6681101669346596,
 0.7432133676154765,
 0.8222865125780622,
 0.5757464169006096,
 2.501389626760409,
 0.6014378546306614,
 0.6434282461410151,
 0.6744561338084331,
 0.8769869366586026,
 0.8753137303023085,
 0.7490285208135973,
 0.7255526563202671,
 0.5569012194733571,
 0.7651543494030352,
 0.6986664936556263,
 1.0654708934558357,
 4.8949140127304975,
 0.6352112786758518,
 0.9595551505157952,
 0.7192596374990349,
 0.7161355293711935,
 2.5063189331925373,
 0.8690255343115126,
 0.9559596179735064,
 0.7289471934006608,
 0.7388546840703816,
 0.5815839246823052,
 0.8794950366532112,
 1.0619748624136798,
 0.6516436459283346,
 0.7117068883085479,
 0.9582367294908346,
 1.1118388476925092,
 0.6220978097667993,
 0.7340376398872289,
 0.6189999515558131,
 0.7450255530904932,
 1.195232486556693,
 11.256147779350034,
 1.9686120605106292,
 0.8097272087726554,
 1.1623068814199753,
 0.9422652063075823,
 0.7740917813815468,
 1.2758004856547276,
 0.6860817420870373,
 0.9355844303470776,
 0.7207299431533772,
 0.8348649702828076,
 0.6691005553271704,
 1.4203196462260121,
 0.7411127764272248,
 0.7068568397228411,
 1.080147252848518,
 0.9534398965605636,
 1.6409736915575142,
 0.5554343410938143,
 0.7657993732929052,
 1.1299323947897078,
 0.8695549759824174,
 0.7962067689204329,
 0.6168436584287192,
 0.7439141443576731,
 1.0890887674501772,
 0.9326751174160939,
 0.7951632047930316,
 0.8639198358844788,
 0.7025765908221175,
 1.4413119529245293,
 1.3096825600304156,
 0.926822200978479,
 1.1206379440012915,
 1.1428538481590287,
 0.8542593704344477,
 0.9423649319825939,
 0.614042683910208,
 2.358242323315424,
 0.6775055157932367,
 1.2100803776207962,
 0.7612136255822961,
 0.6968225484560577,
 1.8564850409998932,
 1.2426940601279466,
 0.7513906665917153,
 0.90922454268962,
 0.6096585692708199,
 0.7551399168501787,
 0.6181065765717708,
 0.6352028968037199,
 1.2701538801752128,
 1.6714275106344783,
 0.7514403766525856,
 1.0603611980760068,
 0.8000758341295439,
 0.6835013797871476,
 0.8244071330589657,
 0.7719232434687395,
 1.0661086155106205,
 0.7821596057305414,
 1.9087606744902272,
 1.5356876844194614,
 1.354265944687348,
 1.123644505299993,
 0.6287646543907559,
 0.736147901655601,
 1.196801764319032,
 0.755931195126785,
 1.2880907212357569,
 0.7824489603752584,
 0.8630309124891428,
 0.7667523023743988,
 1.1368265315252795,
 1.036356359499763,
 1.0598178938211127,
 0.7360803240590561,
 0.6676479841724409,
 0.9142635739722933,
 0.6516135500342979,
 0.6185523706949227,
 2.9374854144159923,
 0.6039995771009216,
 0.8406694155969219,
 0.9432841960185222,
 1.180921497653762,
 0.8472104710914715,
 0.8806797013807399,
 1.318237118772487,
 0.8404665926308338,
 0.707885577982808,
 0.7706591044052922,
 2.740666042416896,
 1.7981809741806363,
 0.7170200539354938,
 0.8157278026315007,
 0.9433936594348677,
 1.3618163084555939,
 0.8282442452765151,
 2.0518506418032842,
 0.9453198637317588,
 0.803816432993173,
 1.2879853762264266,
 0.8631621618211601,
 2.057594442542817,
 0.7757156827171808,
 0.6860146661312687,
 1.347170864515087,
 0.9291396680155103,
 0.9701407652978673,
 0.7362808670413254,
 0.7665470206381819,
 0.8347387734398417,
 0.8985611004838162,
 0.7233900668880633,
 0.9961211106001104,
 1.1242868538100148,
 0.6899768736053328,
 0.5515916373384977,
 1.107690889858052,
 0.8317574814388579,
 1.015520137679563,
 0.7169519913586012,
 0.9036341008781295,
 0.9659365465068642,
 1.040506688076575,
 0.6691029064183048,
 2.046903997375445,
 1.078296608345333,
 0.798478116848319,
 0.758230334247793,
 0.9153634826991948,
 0.9473297531727842,
 0.9145371934527683,
 0.7865928915480789,
 0.7741144520714023,
 1,
 1.5918873962714157,
 1.0396012960594259,
 0.9176801577094941,
 0.8151220304272581,
 0.9592445312645105,
 6.299774241310449,
 1.2736507702388344,
 0.5672495767187122,
 0.862295854530421,
 0.9576159564227232,
 0.626835381050257,
 1.4328844102381075,
 0.8899878268294245,
 0.6653622774996172,
 0.749099353728225,
 2.1345672782780207,
 0.6750265946403798,
 3.567900934297739,
 1.5246132718242862,
 0.9174477518410813,
 3.5842015632459137,
 0.8206496257589618,
 1.6504458108227957,
 1.124440659628817,
 0.7442417147769214,
 0.7034532403595669,
 1.0383231010936806,
 0.7238368317174589,
 0.8364997459521666,
 0.7791436699740397,
 1.2374273089192118,
 1.1473209917276892,
 1.3228533132416143,
 3.3078856881517025,
 0.7901261830722396,
 1.2991888115739856,
 1,
 0.6769161010690828,
 0.7063461218634985,
 0.9006665190084764,
 1.1593095939657694,
 0.6899358245553436,
 0.7840168586045267,
 0.7063435944056959,
 1.1990563592467176,
 0.7833210450414306,
 0.8539982201985127,
 1.8547156324814156,
 1.2952158502008484,
 1.5208782066807258,
 0.5634044679635235,
 1.0935469221091025,
 1.1822379036209374,
 0.6814351660608878,
 0.653702479163112,
 1.355698720699152,
 0.6023432277372041,
 5.361026515869715,
 0.9874699383552121,
 1.0493801182629623,
 0.7659204280725177,
 0.812271456464886,
 1.2706617863267402,
 1.285484799921854,
 0.6866197768152971,
 1.1626426612247904,
 0.980712905406338,
 0.8049983027385036,
 0.7425078410780646,
 0.7893638188062481,
 0.5747087613480854,
 0.9822014724526333,
 1.1138569343105469,
 0.8840726130399037,
 1.2241740839704276,
 0.8237075637096831,
 1.2506317127525193,
 0.9677537733599002,
 1.5563276127126937,
 1.3170668414925777,
 10.919851781416147,
 1.275290248932797,
 2.0526425099661885,
 0.6655354075320746,
 1,
 1.40913353924352,
 0.72761527327139,
 0.8498443500708199,
 1.6754356847165157,
 3.3069376253665537,
 0.7475369243027293,
 1.1675556444669744,
 0.7788258666440262,
 0.8803888461333866,
 0.5880646092354732,
 0.8124201048678309,
 0.9781015947793273,
 0.8127783034890912,
 1.1229698038895348,
 1.1404120427340865,
 0.9822221431450138,
 0.7328545357613289,
 0.7628763346218985,
 0.8444826027744777,
 0.8152826749818544,
 0.7069581994632086,
 1.418324461775526,
 1.4641975299303323,
 0.929889931013802,
 1.0212494537279488,
 1.8271091693424797,
 5.506229996899141,
 0.9911389759766934,
 1.0757636331898752,
 0.7028653555933151,
 0.7329883023081503,
 0.8968470457278683,
 0.8751390419918338,
 0.7245504648961961,
 0.6985109753848009,
 0.6519194607341054,
 0.6305238568571763,
 0.6586351324131735,
 1.2530526275328229,
 0.9098394672686511,
 1.4642794554536156,
 0.8192256203577339,
 0.6535753814231122,
 0.8497763650690853,
 0.6390997525585524,
 0.8584399198192231,
 3.447734588200146,
 3.344119938118179,
 1.2119030773731028,
 1.1134018154142935,
 0.7748911955075147,
 1.0630350841704372,
 0.9217246797339093,
 0.9458301679853148,
 0.7452334409841449,
 0.6155404134939338,
 2.45978951752732,
 1.438885469795486,
 2.4601770350623293,
 0.6585319111172309,
 1.1615657662344725,
 1,
 0.7758708694994907,
 1.1827299986190372,
 1.6517628793036334,
 0.6825139640632084,
 0.6302471174797667,
 0.9054546727994084,
 0.9954632027336164,
 1.3438415241957766,
 0.9529768867021399,
 0.7159560687379501,
 1.1076260100429283,
 1.1947726656266813,
 1.1989537714312468,
 0.8803327982153685,
 0.8826998260045402,
 1.1024080566932675,
 0.8226726317358636,
 1.2074884618397101,
 0.6338228489857334,
 0.8299170535854226,
 4.980989225780252,
 1.512910091708015,
 0.6785584837338746,
 0.8821631053677714,
 2.6172774305927735,
 0.7948884241977702,
 0.9888796334991069,
 0.6604640276466622,
 0.7237227486570235,
 1.0005698838575086,
 1.3089984126208503,
 1.0379993374218628,
 1.1530607357910467,
 1.3800024076851483,
 1.8899442728607287,
 0.5769690077898831,
 0.7780925723553501,
 1.034524961453034,
 0.872637970677029,
 0.900090383400372,
 1.1702124387639272,
 1.4330608308104196,
 0.6622823316150882,
 0.9602782366540303,
 1.6986697876130208,
 0.8574479731647588,
 1.3196267959724282,
 0.7007481797017892,
 0.7147875027556216,
 1.2967712321233555,
 0.8161515646749147,
 0.9546913855702978,
 0.9537523652798843,
 1.3277069564106745,
 1.0060249179600542,
 3.5710878448933774,
 1.5529137347188722,
 3.6777973358854155,
 1.1195920378706676,
 3.1286187204122995,
 0.8113279894265252,
 1.1086257338817727,
 3.048589309677109,
 1.1989275348109318,
 1.8815911791360735,
 0.8033880386432632,
 10.812041835682713,
 0.8329932538553713,
 1.737959507520425,
 2.0569763115117854,
 10.375598813764036,
 1.292701589608155,
 1.1216450265283782,
 4.297702219602268,
 4.192940274497372,
 1.190421872568678,
 0.6551606995949851,
 1.3681833377339652,
 0.569651175759778,
 0.7979154353896672,
 10.322246755000364,
 7.7389009483540265,

In [171]:
#### mase for the hierarchical time series
np.mean(mase_base)

1.3158538702379967

In [172]:
################################# SUMMING MATRIX FOR BU, TD, AND MINT
def SMatrix(level_number, bottom_level_number, eva_list_ts):
    l = []
    i = 0
    while i <= level_number:
        if i == 0:  # （1，2160）
            # for top level
            a = np.ones(bottom_level_number).reshape(1,2160)
            l.append(a)
            
        elif i == 1:  #（3，2160）
            # for l2
            l.append([])
            o = [[1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 1, 1, 1, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 1, 1, 1]]
            for x1 in range(len(eva_list_ts[i]['state_id'].unique())):
                r = (o[x1] * (bottom_level_number // len(o) + 1))[:bottom_level_number]
                l[i].append(r)
        elif i == 2:  #（10，2160）
            # for l3 store
            l.append([])
            for x2 in range(len(eva_list_ts[i]['store_id'].unique())):
                o = np.zeros(bottom_level_number)
                o[x2::9] = 1
                l[i].append(o)
        elif i == 3:  # （2160，2160）
            # for l4
            l.append(np.eye(bottom_level_number))
        else:
            break
        i += 1
    S = np.concatenate((l[0], l[1], l[2], l[3]), axis=0)
    return S

In [173]:
S_Matrix = SMatrix(4,2160, eva_list)

In [174]:
np.shape(S_Matrix)

(2174, 2160)

In [175]:
######## G matrix for BU
g1 = np.zeros((2160,14))#（ bottom_level , except_bottom level）
g2 = np.eye(2160)# bottom level
G_bu = np.concatenate((g1,g2), axis=1)
G_bu

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [176]:
np.shape(G_bu)

(2160, 2174)

In [177]:
SG_bu = np.dot(S_Matrix, G_bu)

In [178]:
############# for all 3 reconciliation methods
y_base_frec = test_pred

In [179]:
y_coh_frec_bu = np.dot(SG_bu, y_base_frec)
y_coh_frec_bu

array([[2.87651594e+03, 2.88886796e+03, 3.05448467e+03, ...,
        3.23890896e+03, 3.68239120e+03, 3.61020697e+03],
       [1.15285566e+03, 1.16127878e+03, 1.22888075e+03, ...,
        1.27958351e+03, 1.45188589e+03, 1.41643607e+03],
       [8.76852706e+02, 8.73162061e+02, 9.31618346e+02, ...,
        1.00057453e+03, 1.13372807e+03, 1.11445414e+03],
       ...,
       [1.44018815e+00, 1.61382193e+00, 1.61714190e+00, ...,
        9.89314339e-01, 1.43821784e+00, 1.65357173e+00],
       [8.06389118e+00, 8.17645894e+00, 7.46221391e+00, ...,
        9.64958238e+00, 1.02114286e+01, 1.01243739e+01],
       [2.46507755e+00, 1.72148187e+00, 1.86736819e+00, ...,
        1.31485159e+00, 1.68587989e+00, 2.49754941e+00]])

In [117]:
# BU's MASE
re_bu = forecast_mase(y_coh_frec_bu, y_test)
np.mean(re_bu)

1.3027955646304088

In [180]:
# BU's MASE
re_bu = forecast_mase(y_coh_frec_bu, y_test)
np.mean(re_bu)

1.3184602381260797

In [181]:
###########################TD
# G_Matrix_TD
def G_Matrix_TD(bottom_level, top_level, ts_length, col_bo, col_to, ts_amount):
    from typing import Optional
    from tqdm import tqdm
    prop_mean = []
    n = int(len(bottom_level[col_bo])/ts_length)
    for i in tqdm(range(n)):
        prop = []
        #prop = np.divide(np.array(bottom_level[col_bo][i*ts_length : (i+1)*ts_length]), np.array(top_level[col_to]))
        #, out=np.zeros_like(vector1), where=(vector2 != 0)
        with np.errstate(divide='ignore', invalid='ignore'):
            prop =  (bottom_level[col_bo].iloc[i*ts_length : (i+1)*ts_length].values/top_level[col_to].values)
        prop_mean.append(prop)
    prop_mean = np.nan_to_num(prop_mean)
    prop_mean = np.mean(prop_mean,axis = 1).reshape(-1,1)
    g2 = np.zeros((n, ts_amount-1))
    G = np.concatenate((prop_mean, g2), axis=1)
    return G

In [182]:
G_td = G_Matrix_TD(eva_list[3], eva_list[0], 1941, 'sales', 'sales', 2174)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2160/2160 [00:00<00:00, 14975.03it/s]

In [183]:
SG_td = np.dot(S_Matrix, G_td)
SG_td

array([[9.98969603e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.01042555e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.06295927e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [7.13887221e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.36664829e-03, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [8.24399064e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [184]:
y_coh_frec_td = np.dot(SG_td, y_base_frec)
y_coh_frec_td

array([[2.51515594e+03, 2.56858750e+03, 2.69101942e+03, ...,
        3.67579707e+03, 4.38172442e+03, 3.67600742e+03],
       [1.00972498e+03, 1.03117542e+03, 1.08032647e+03, ...,
        1.47567158e+03, 1.75907050e+03, 1.47575602e+03],
       [7.71176637e+02, 7.87559388e+02, 8.25098465e+02, ...,
        1.12704297e+03, 1.34348867e+03, 1.12710747e+03],
       ...,
       [1.79738971e+00, 1.83557316e+00, 1.92306590e+00, ...,
        2.62681121e+00, 3.13128354e+00, 2.62696154e+00],
       [1.09941297e+01, 1.12276872e+01, 1.17628557e+01, ...,
        1.60674689e+01, 1.91531848e+01, 1.60683883e+01],
       [2.07563093e+00, 2.11972529e+00, 2.22076216e+00, ...,
        3.03344932e+00, 3.61601545e+00, 3.03362292e+00]])

In [185]:
re_td = forecast_mase(y_coh_frec_td, y_test)
print(np.mean(re_td))

1.0592137853357302

In [186]:
np.shape(S_Matrix)

(2174, 2160)

In [187]:
########  MinT‘s G matrix ############
### estimate Wh matrix at first # size (2174*2174)
def W_matrix_G(forecast_1, truth_1):
    forecast = np.array(forecast_1)
    truth = np.array(truth_1)
    residuals_ = []
    for i in range(int(len(forecast))):
        res = np.mean(np.dot(truth[i,:]-forecast[i,:],truth[i,:]-forecast[i,:]))
        residuals_.append(res)
    W = np.diag(residuals_)
    return W, residuals_

In [188]:
W , residuals =W_matrix_G(test_pred, y_test.values)

In [189]:
residuals
np.shape(residuals)
np.shape(W)

(2174, 2174)

In [190]:
np.shape(S_Matrix.T)

(2160, 2174)

In [191]:
np.linalg.inv(W)

array([[1.17439225e-07, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 6.38327475e-07, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 9.17165423e-07, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.83932421e-02, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 4.03873215e-04, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 9.41812207e-03]])

In [192]:
G_mint = np.linalg.inv(S_Matrix.T@np.linalg.inv(W)@S_Matrix)@S_Matrix.T@np.linalg.inv(W)

In [193]:
G_mint

array([[ 4.46206321e-06,  2.83893164e-05, -2.48999557e-06, ...,
        -8.78527949e-07,  2.89935016e-06, -2.76267946e-07],
       [ 1.74389013e-06,  9.87771264e-06, -3.74041947e-07, ...,
        -1.11034720e-06,  3.21630626e-07, -8.65426983e-07],
       [ 2.64526690e-06,  1.59748697e-05, -1.07736543e-06, ...,
        -1.07427297e-06,  1.13348745e-06, -7.10522733e-07],
       ...,
       [ 5.29694380e-06, -1.26190785e-06, -1.21405601e-06, ...,
         9.99746076e-01, -3.05697562e-05, -3.23430929e-05],
       [ 1.80077189e-04, -2.07165606e-04, -1.94421930e-04, ...,
        -1.39221148e-03,  9.84540244e-01, -1.35706585e-03],
       [ 9.70524363e-06, -3.40033631e-06, -3.79441027e-06, ...,
        -6.31648574e-05, -5.81944621e-05,  9.99710985e-01]])

In [157]:
np.shape(G_mint)

(2160, 2174)

In [194]:
SG_mint = S_Matrix@ G_mint
SG_mint

array([[ 3.31971919e-02,  7.79990718e-02,  6.45417006e-02, ...,
         8.29603304e-01,  6.19285022e-01,  7.78318904e-01],
       [ 1.43502370e-02,  9.55192312e-02, -1.04863057e-02, ...,
        -3.63615501e-02, -1.31074789e-01, -5.01698324e-02],
       [ 8.26429686e-03, -7.29824403e-03,  8.25103101e-02, ...,
        -2.43472176e-02, -8.56135740e-02, -3.89637662e-02],
       ...,
       [ 5.29694380e-06, -1.26190785e-06, -1.21405601e-06, ...,
         9.99746076e-01, -3.05697562e-05, -3.23430929e-05],
       [ 1.80077189e-04, -2.07165606e-04, -1.94421930e-04, ...,
        -1.39221148e-03,  9.84540244e-01, -1.35706585e-03],
       [ 9.70524363e-06, -3.40033631e-06, -3.79441027e-06, ...,
        -6.31648574e-05, -5.81944621e-05,  9.99710985e-01]])

In [195]:
y_coh_frec_mint = SG_mint@y_base_frec
y_coh_frec_mint

array([[2.69276541e+03, 2.68093585e+03, 2.79490060e+03, ...,
        3.13759788e+03, 3.56975039e+03, 3.41219453e+03],
       [1.07530361e+03, 1.07133179e+03, 1.11242042e+03, ...,
        1.23981638e+03, 1.41028825e+03, 1.33025508e+03],
       [8.17504374e+02, 8.10721283e+02, 8.57410244e+02, ...,
        9.64562791e+02, 1.08801555e+03, 1.04830136e+03],
       ...,
       [1.42666959e+00, 1.60099444e+00, 1.60488897e+00, ...,
        9.91631520e-01, 1.44034349e+00, 1.64699341e+00],
       [4.55409224e+00, 4.33685603e+00, 3.42489063e+00, ...,
        6.50418903e+00, 7.17281762e+00, 6.31911409e+00],
       [2.45602399e+00, 1.71387258e+00, 1.85391804e+00, ...,
        1.32110017e+00, 1.70186291e+00, 2.50238806e+00]])

In [196]:
re_mint = forecast_mase(y_coh_frec_mint, y_test)
print(np.mean(re_mint))

1.3183330221882803

In [161]:
######### feature involves d, item_id, store_id, state_id
print("lgbm's forecasts:", np.mean(mase_base))
print("lgbm with BU's forecasts:", np.mean(re_bu))
print("lgbm with TD's forecasts:", np.mean(re_td))
print("lgbm with MinT's forecasts:", np.mean(re_mint))

lgbm's forecasts: 1.2984727648944563
lgbm with BU's forecasts: 1.3027955646304088
lgbm with TD's forecasts: 1.0716987729093137
lgbm with MinT's forecasts: 1.3051139364946365

In [197]:
######### feature without d, item_id, store_id, state_id
print("lgbm's forecasts:", np.mean(mase_base))
print("lgbm with BU's forecasts:", np.mean(re_bu))
print("lgbm with TD's forecasts:", np.mean(re_td))
print("lgbm with MinT's forecasts:", np.mean(re_mint))

lgbm's forecasts: 1.3158538702379967
lgbm with BU's forecasts: 1.3184602381260797
lgbm with TD's forecasts: 1.0592137853357302
lgbm with MinT's forecasts: 1.3183330221882803